<div class="container mb-3">
    <div class=" mb-3">
        <h1 class=" header-text">{{pageData.title}}</h1>

    </div>
    <div class="row">
        <div class="col-lg-4 col-sm-12 " *ngFor='let data of pageData.component_data'>
            <div class="card mb-3 border-danger">
                <div class="card-body">
                    <span class="card-text card text-center theme-color"><img [src]="data?.media"
                            class="mx-auto img-fluid" height="100px" width="100px" alt="Address"></span>
                    <h3 class="card-title card text-center subtitle-text mb-1">{{data.title}}</h3>
                    <p class="card-text card text-center  mb-1 theme-color">{{data.subtitle}}</p>
                    <a href="mailto:ceo@hadotifpc.in" target="_blank">
                        <p class="card card-text text-center theme-color">{{data.description}}</p>
                    </a>
                </div>
            </div>
        </div>

    </div>
</div>





<div class="container mb-3">
    <div class="row">
        <div class="col-lg-6  col-sm-12">

            <iframe
                src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3622.6353881608393!2d76.48262381455707!3d24.773687484094843!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x397ab3b96d288e53%3A0x854fadb1bbca925e!2sHadoti%20Mahila%20Kisan%20Producer%20Company%20Limited!5e0!3m2!1sen!2sin!4v1643263749047!5m2!1sen!2sin"
                height="450" class="shadow d-block w-100" loading="lazy"></iframe>



        </div>



        <div class="col-lg-6 col-sm-12">
            <form action="">
                <div class="mb-2">
                    <label for="exampleInputPassword1" class="form-label">Full Name</label>
                    <input type="text" class="form-control" id="exampleInputPassword1" name="text" ngModule required>
                </div>
                <div class="mb-1">
                    <label for="exampleInputEmail1" class="form-label">Email Address</label>
                    <input type="email" class="form-control" id="exampleInputEmail1" name="email" ngModule required
                        aria-describedby="emailHelp">
                    <div id="emailHelp" class="form-text">We'll never share your email with anyone else.</div>
                </div>
                <div class="mb-1">
                    <label for="exampleFormControlTextarea1" class="form-label">Topic</label>
                    <textarea class="form-control" id="exampleFormControlTextarea1"
                        placeholder="Write your message here.." rows="8">
                </textarea>
                </div>
                <button type="submit" class=" btn-sm  bt mb-3">Submit</button>
            </form>

        </div>
    </div>
</div>