<!-- new slider -->
<div class="container-fluid background p-5 my-5">
  <h1 class="header-text text-center pb-3">{{items?.title}}</h1>
  <p-carousel [value]="items.component_data" styleClass="custom-carousel" [numVisible]="3" [numScroll]="1" [circular]="true"
      [autoplayInterval]="4000" [responsiveOptions]="responsiveOptions">
      <ng-template let-product pTemplate="item">
          <div class="product-item text-center">
              <div>
                  <img [src]="product.media" alt="" class="d-block mx-auto w-100  p-5 ">
              </div>
          </div>
      </ng-template>
  </p-carousel>
</div>
