<footer>
    <div class="fluid-container mx-auto">
        <div class="back-img">
            <div class="row">
                <div class="logo">
                    <div class="col-lg-12 col-md-12 col-sm-12">
                        <a href="#"><img class="ms-3 mt-4" [src]="companyData?.footer_icon" alt=""></a>
                        <a href="https://fdrvc.org/mission-i/" target="_blank"><img class="logo_2 mt-4 me-4 float-end"
                                [src]="companyData?.footer_sub_image" alt=""></a>

                        <h3 class="mt-3 text-white ms-5 ps-4"> {{companyData?.title}}
                        </h3>
                        <p class="mt-2 ms-5 ps-4 "><a class="text-white" href="contact@fdrvc.in" target="_blank">
                                {{companyData?.address}}</a>

                        </p>
                    </div>
                </div>

            </div>

            <div class="row mb-3  mx-auto mt-5 text-center justify-content-center">



                <div *ngFor="let menu of menuList" class="col-lg-2 offset-lg-1 col-md-3 col-sm-3 mb-2">
                    <div class="footer-widget">
                        <h4> {{menu?.title}}</h4>
                        <ul *ngIf="menu.page.length">
                            <li *ngFor="let menuItem of menu.page"><a
                                    (click)="navigatePage(menuItem)">{{menuItem?.fields?.title}}</a></li>
                        </ul>
                    </div>
                </div>

                <div class="col-lg-2 offset-lg-1 col-md-3 col-sm-3 ">
                    <div class="footer-widget">
                        <h4>Contact Us</h4>
                        <ul>
                            <li><a [routerLink]="['/8']">Work with us</a></li>
                            <li><a href="mailto:contact@fdrvc.in" target="_blank">Contact@fdrvc.in</a></li>

                            <div class="footer-icons mt-2" *ngFor="let data of socialMediaData">
                                <a [href]="data?.url" target="_blank"><img [src]="data?.icon" alt="data.title"
                                        class=" "></a>


                            </div>

                        </ul>
                    </div>
                </div>

            </div>

            <div class="row">
                <div class="col-lg-12 col-md-12 col-sm-12 text-center">
                    <div class="footer-copyright-text text-white p-1">
                        <a href="http://fdrvc.org/" target="_blank">
                            <p class="text-muted pt-5">Copyright &copy;Hadoti MKPCL 2022
                                An FDRVC promoted prodcer enterprise.</p>
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</footer>