<footer>
    <div class="fluid-container">
        <div class="back-img">
            <div class="row">
                <div class="logo">
                    <div class="col-lg-12 col-md-12 col-sm-12">
                        <a href="#"><img src="/assets/social_media_icons/Group.png" alt=""></a>
                        <a href="#"><img class="logo_2" src="/assets/social_media_icons/brand_logo_2.png" alt=""></a>
                        <h3 class="mt-2">Hadoti Mahila Kisan Producer Company Ltd.</h3>
                        <p class="mt-2">Lorem ipsum dolor sit amet consectetur adipisicing elit.<br> Qui eos voluptates
                            illum
                            aspernatur
                            eveniet.
                            nobis debitis</p>


                    </div>



                </div>
            </div>

            <div class="row mb-3 ">

                <div class="col-lg-2 offset-lg-1 col-md-3 col-sm-3">
                    <div class="footer-widget">
                        <h4>About Us</h4>
                        <ul>
                            <li><a href="#">Who we are</a></li>
                            <li><a href="#">Project Updte</a></li>

                            <li><a href="#">Product</a></li>

                        </ul>
                    </div>
                </div>

                <div class="col-lg-2 offset-lg-1 col-md-3 col-sm-3">
                    <div class="footer-widget">
                        <h4>Media</h4>
                        <ul>
                            <li><a href="#">Gallery</a></li>
                            <li><a href="#">Latest Update</a></li>
                            <li><a href="#">Faq</a></li>
                        </ul>
                    </div>
                </div>

                <div class="col-lg-2 offset-lg-1 col-md-3 col-sm-3">
                    <div class="footer-widget">
                        <h4>Contact Us</h4>
                        <ul>
                            <li><a href="#">Work with us</a></li>
                            <li><a href="#">Contact@drvc.in</a></li>
                            <div class="social-links">
                                <a href="https://en-gb.facebook.com/login/"><i class="fab fa-facebook"></i></a>
                                <a href="https://twitter.com/home?lang=en"><i class="fab fa-twitter"></i></a>
                                <a
                                    href="https://www.google.com/search?q=instagram&rlz=1C1SQJL_enIN793IN793&oq=inst&aqs=chrome"><i
                                        class="fab fa-instagram"></i></a>
                                <a href="https://www.youtube.com/"><i class="fab fa-youtube"></i></a>


                            </div>

                        </ul>
                    </div>
                </div>

            </div>

            <div class="row">
                <div class="col-lg-12 col-md-12 col-sm-12 text-center">
                    <div class="footer-copyright-text p-1">
                        <p>Copyright &copy;2021 All rights reserved with an FDRVC promoted producer enterprise.</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</footer>