.back-img {
	background-image: url("/assets/brand_logo/India_Top 1.png");
	background-repeat: no-repeat;
	background-size: contain;
	background-position: left;
}
footer {
	background: linear-gradient(181.58deg, #ff535e 2.37%, #88131b 38.16%, #000000 83.04%);
	overflow-x: hidden;
}
.logo {
	padding: 10px;
	margin: 10px;
}

.logo img {
	display: inline-block;
	height: 60px;
	margin-left: 20px;
	width: 120px;
}
.logo h3,
p {
	color: white;
	margin-left: 62px;
}
.logo h3 {
	font-size: 21px;
	font-weight: 500;
	max-width: 600px;
}
.logo p {
	font-size: 12px;
	font-weight: 400;
}

.logo .logo_2 {
	float: right;
	width: 60px;
	height: 65px;
	margin-right: 40px;
}
.footer-copyright-text {
	background: transparent;
}

.footer-copyright-text > p {
	padding-top: 17px;
	opacity: 70%;
	font-size: 14px;
}

.footer-widget {
	margin-left: 130px;
	margin-top: 50px;
	width: 800px;
}
.footer-widget h4 {
	color: #ffffff;
	font-size: 21px;
	font-weight: 700;
	text-transform: uppercase;
	letter-spacing: 2px;
	margin-bottom: 15px;
}
.footer-widget ul li {
	list-style: none;
	line-height: 36px;
}
.footer-widget ul li a {
	color: rgb(226, 219, 219);
	font-size: 18px;
	transition: all 0.3s;
}
.footer-widget ul li a:hover {
	padding-left: 10px;
	color: #ffffff;
}

.footer-widget .social-links a {
	display: inline-block;
	height: 26px;
	width: 26px;
	border: 2px solid rgba(255, 255, 255, 0.747);
	margin-right: 3px;
	margin-top: 8px;
	text-align: center;
	line-height: 23px;
	border-radius: 50%;

	color: #ffffff;
	transition: all 0.5s ease;
}
.footer-widget .social-links a:hover {
	color: #24262b;
	background-color: #ffffff;
}

/* responsive */
@media (max-width: 768px) {
	.footer-copyright-text p {
		font-size: 13px;
		margin-left: 0px;
	}
	.footer-widget {
		margin-left: 100px;
	}
}

@media (max-width: 576px) {
	.footer-copyright-text p {
		font-size: 13px;
		margin-left: 0px;
	}
	.footer-widget {
		margin-left: 150px;
	}
}
