.back-img {
	background-image: url("/assets/brand_logo/India_Top 1.png");
	background-repeat: no-repeat;
	background-size: contain;
	position: relative;
	background-position: inherit;
}
footer {
	background: linear-gradient(181.58deg, #ef4e58 2.37%, #74060d 38.16%, #000000 83.04%);
	overflow-x: hidden;
}

.logo h3 {
	font-weight: 500;
	max-width: 600px;
	
}
.logo p {
	font-weight: 400;
}
.footer-copyright-text {
	background: transparent;
}

.footer-widget h4 {
	color: #ffffff;

	font-weight: 700;
	text-transform: uppercase;
	letter-spacing: 2px;
	margin-bottom: 15px;
}
.footer-widget ul li {
	list-style: none;
	line-height: 36px;
	cursor: pointer;
}
.footer-widget ul li a {
	color: rgb(226, 219, 219);

	transition: all 0.3s;
}
.footer-widget ul li a:hover {
	padding-left: 10px;
	color: #ffffff;
}

.footer-icons {
	display: inline-block;
	padding: 1px;
	line-height: 22px;
	transition: all 0.5s ease;
	margin-right: 5px;
	border-radius: 50%;
	height: 30px;
	width: 30px;
}
.footer-icons:hover {
	background-color: rgb(146, 120, 110);
}
