<footer>
    <div class="fluid-container mx-auto">
        <div class="back-img">
            <div class="row">
                <div class="logo">
                    <div class="col-lg-12 col-md-12 col-sm-12">
                        <a href="#"><img class="ms-3 mt-4" src="/assets/social_media_icons/hadoti.svg" alt="hadoti-logo"
                                width="160"></a>
                        <a href="https://fdrvc.org/mission-i/" target="_blank"><img class="logo_2 mt-4 me-4 float-end"
                                src="/assets/social_media_icons/brand_logo_2.svg" alt="" height="70" width="65"></a>
                        <h3 class="mt-3 text-white ms-5 ps-4"> Hadoti Mahila Kisan Producer Company Ltd.
                        </h3>
                        <p class="mt-2 ms-5 ps-4 text-white">
                            Bambori Road,
                            Anta, Baran,
                            Rajasthan - 325202

                        </p>
                    </div>
                </div>

            </div>

            <div class="row mb-3  mx-auto mt-5 text-center justify-content-center">

                <div class="col-lg-2 offset-lg-1 col-md-3 col-sm-3 mb-2">
                    <div class="footer-widget">
                        <h4>About Us</h4>
                        <ul>
                            <li><a [routerLink]="['/']">Who we are</a></li>
                            <li><a [routerLink]="['/project-update']">Project Update</a></li>

                            <li><a [routerLink]="['/product']">Product</a></li>

                        </ul>
                    </div>
                </div>

                <div class="col-lg-2 offset-lg-1 col-md-3 col-sm-3 mb-2">
                    <div class="footer-widget">
                        <h4>Media</h4>
                        <ul>
                            <li><a [routerLink]="['media']">Gallery</a></li>
                            <li><a [routerLink]="['/']">Latest Update</a></li>
                            <li><a [routerLink]="['/member']">Faq</a></li>
                        </ul>
                    </div>
                </div>

                <div class="col-lg-2 offset-lg-1 col-md-3 col-sm-3 mb-2">
                    <div class="footer-widget">
                        <h4>Contact Us</h4>
                        <ul>
                            <li><a [routerLink]="['/engage-with-us']">Work with us</a></li>
                            <li><a href="mailto:contact@drvc.in" target="_blank">contact@fdrvc.in</a></li>
                            <div class="social-links mx-auto">
                                <a href="https://www.facebook.com/Haodti-Mahila-Kisan-Producer-Company-Limited-100542215212554"
                                    target="_blank"><i class="fab fa-facebook"></i></a>
                                <a href=" https://twitter.com/HadotiKisan" target="_blank"><i
                                        class="fab fa-twitter"></i></a>
                                <a href=" contact@fdrvc.in "><i class="fab fa-instagram"></i></a>
                                <a href=" contact@fdrvc.in "><i class="fab fa-youtube"></i></a>


                            </div>

                        </ul>
                    </div>
                </div>

            </div>

            <div class="row">
                <div class="col-lg-12 col-md-12 col-sm-12 text-center">
                    <div class="footer-copyright-text text-white p-1">
                        <a href="http://fdrvc.org/" target="_blank">
                            <p class="text-muted pt-5">Copyright &copy;Hadoti MKPCL 2022
                                An FDRVC promoted prodcer enterprise.</p>
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</footer>