<div class="container mb-3">
    <div class="row">
        <div class="testimonial col-12">
            <h1 class="header-text text-center mb-3">Testimonial</h1>
        </div>
    </div>

    <div class="row">
        <div class="col-12">
            <div id="carouselExampleControls" class="carousel slide carousel-fade" data-bs-ride="carousel">
                <div class="carousel-inner">
                    <div class="carousel-item active">
                        <div class="row">
                            <div class="box col-lg-6">
                                <h2 class="subtitle-text">"</h2>
                                <p class="text-center">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Erat
                                    vehicula
                                    bibendum duis
                                    quisque id. Gravida ut amet, et nibh. Justo, risus erat sollicitudin tincidunt
                                    sagittis aenean in. Nibh tempus sit nisl sagittis. Proin justo, mauris nunc tellus
                                    congue nulla dictum arcu.</p>
                                <div class="top">
                                    <img src="/assets/testimonial/testi_img_1.png" alt="">
                                </div>
                                <div class="sm-box">
                                    <h6 class="text-center text-white">Mr Rahul Singh</h6>
                                    <div class="social-links text-center">
                                        <a href="https://en-gb.facebook.com/login/"><i class="fab fa-facebook"></i></a>
                                        <a href="https://twitter.com/home?lang=en"><i class="fab fa-twitter"></i></a>
                                        <a
                                            href="https://www.google.com/search?q=instagram&rlz=1C1SQJL_enIN793IN793&oq=inst&aqs=chrome"><i
                                                class="fab fa-instagram"></i></a>
                                    </div>
                                </div>
                            </div>

                            <div class="box col-lg-6 ">
                                <h2 class="subtitle-text">"</h2>
                                <p class="text-center">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Erat
                                    vehicula bibendum duis
                                    quisque id. Gravida ut amet, et nibh. Justo, risus erat sollicitudin tincidunt
                                    sagittis aenean in. Nibh tempus sit nisl sagittis. Proin justo, mauris nunc tellus
                                    congue nulla dictum arcu.</p>
                                <div class="top ">
                                    <img src="/assets/testimonial/testi_img_2.png" alt="">
                                </div>
                                <div class="sm-box">
                                    <h6 class="text-center text-white">Mr Kunal Kumar</h6>
                                    <div class="social-links text-center">
                                        <a href="https://en-gb.facebook.com/login/"><i class="fab fa-facebook"></i></a>
                                        <a href="https://twitter.com/home?lang=en"><i class="fab fa-twitter"></i></a>
                                        <a
                                            href="https://www.google.com/search?q=instagram&rlz=1C1SQJL_enIN793IN793&oq=inst&aqs=chrome"><i
                                                class="fab fa-instagram"></i></a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="carousel-item ">
                        <div class="row">
                            <div class="box col-lg-6">
                                <h2 class="subtitle-text">"</h2>
                                <p class="text-center">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Erat
                                    vehicula bibendum duis
                                    quisque id. Gravida ut amet, et nibh. Justo, risus erat sollicitudin tincidunt
                                    sagittis aenean in. Nibh tempus sit nisl sagittis. Proin justo, mauris nunc tellus
                                    congue nulla dictum arcu.</p>

                                <div class="top">
                                    <img src="/assets/testimonial/testi_img_3.png" alt="">
                                </div>
                                <div class="sm-box">
                                    <h6 class="text-center text-white">Mr Shah</h6>
                                    <div class="social-links text-center">
                                        <a href="https://en-gb.facebook.com/login/"><i class="fab fa-facebook"></i></a>
                                        <a href="https://twitter.com/home?lang=en"><i class="fab fa-twitter"></i></a>
                                        <a
                                            href="https://www.google.com/search?q=instagram&rlz=1C1SQJL_enIN793IN793&oq=inst&aqs=chrome"><i
                                                class="fab fa-instagram"></i></a>
                                    </div>
                                </div>
                            </div>

                            <div class="box col-lg-6">
                                <h2 class="subtitle-text">"</h2>
                                <p class="text-center">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Erat
                                    vehicula bibendum duis
                                    quisque id. Gravida ut amet, et nibh. Justo, risus erat sollicitudin tincidunt
                                    sagittis aenean in. Nibh tempus sit nisl sagittis. Proin justo, mauris nunc tellus
                                    congue nulla dictum arcu.</p>
                                <div class="top">
                                    <img src="/assets/testimonial/testi_img_4.png" alt="">
                                </div>
                                <div class="sm-box">
                                    <h6 class="text-center text-white">Mrs Pooja Kapoor</h6>
                                    <div class="social-links text-center">
                                        <a href="https://en-gb.facebook.com/login/"><i class="fab fa-facebook"></i></a>
                                        <a href="https://twitter.com/home?lang=en"><i class="fab fa-twitter"></i></a>
                                        <a
                                            href="https://www.google.com/search?q=instagram&rlz=1C1SQJL_enIN793IN793&oq=inst&aqs=chrome"><i
                                                class="fab fa-instagram"></i></a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>