<div class="container-fluid">
    <div class="about">

        <h3>Know about us</h3>

        <div class="row">
            <div class="col-lg-6 col-md-12">
                <img src="/assets/slider/D7398DF7.jpg" alt="">
            </div>
            <div class="col-lg-6 col-md-12">
                <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Sapiente placeat tempore consectetur,
                    voluptate
                    maxime assumenda dolor iusto hic fuga velit soluta eveniet,
                    similique aliquam.Lorem ipsum dolor.
                </p>
                <button class="btn-danger btn-sm">Read More</button>
            </div>

        </div>
    </div>
</div>