<div class="container-fluid mb-3 p-3">
    <div class="about">

        <h1 class="header-text">Know about us</h1>

        <div class="row">
            <div class="col-lg-6 col-md-12">
                <img src="/assets/slider/D7398DF7.jpg" alt="">
            </div>
            <div class="col-lg-6 col-md-12">
                <p class="paragraph-text mt-3">Lorem ipsum dolor, sit amet consectetur adipisicing elit. Sapiente
                    placeat tempore
                    consectetur,
                    voluptate
                    maxime assumenda dolor iusto hic fuga velit soluta eveniet,
                    similique aliquam.Lorem ipsum dolor.
                </p>
                <button class="btn-sm bt">Read More</button>
            </div>

        </div>
    </div>
</div>