<div class="container-fluid mb-5">
    <div class="row">
        <div class="col-lg-6 col-sm-12 ">
            <h1 class="header-text">Know About Us</h1>
            <img src="/assets/slider/Know-About-us.jpg" class="d-block w-100 shadow" alt="">
        </div>
        <div class="col-lg-6 col-sm-12 mt-7 ">
            <div [ngClass]="{'limitTextHeight':isReadMore}">
                <h5 *ngIf="showLess" class="paragraph-text">{{about_para | slice:0:600}}
                    <span *ngIf="about_para.length>600">...</span>
                </h5>
                <h5 *ngIf="!showLess" class="paragraph-text">{{about_para}}

                </h5>
            </div>
            <button class=" btn-sm  bt" type='button' (click)='showText()'>{{isReadMore?'Read More':'Read
                Less'}}</button>
        </div>
    </div>
</div>