<!-- mandetory discloser -->
<div class="container my-5 border-top mandetory">
    <div class="row mt-5">
        <div *ngFor="let data of pageData.component_data" class="col-lg-6 text-center">
            <h1 class="header-text mb-2 ">{{data.title}}</h1>
            <p class="paragraph-text fw-bold ">{{data.subtitle}}</p>
            <ng-container *ngFor="let item of data.description.split('\n')">
                <p class="paragraph-text fw-bold mt-4">{{ item }}</p>
            </ng-container>

        </div>

    </div>
</div>