<!-- job opening -->
<div *ngFor='let data of pageData.component_data' class="container">
    <div class="col-12">
        <h2 class="theme-color">{{data.title}}</h2>
        <p>{{data.description}}</p>

    </div>

    <div class="col-12">
        <h3 class="theme-color">Open Position</h3>
        <ul class="ms-3">
            <li class="fw-bold mb-2">Chief Executive <span><a class="theme-color ms-2"
                        href="/assets/engage-wth-us/Advertisement -CEO (Rajasthan).pdf" target="_blank">click here
                    </a></span> </li>
            <li class="fw-bold mb-2">Plant Manager <span><a class="theme-color ms-2"
                        href="/assets/engage-wth-us/Job Description (a) Plant Manager (b) Assistant Manager (Plant-QC) (Rajasthan).pdf"
                        target="_blank">click here
                    </a></span></li>
            <li class="fw-bold mb-2">Assistant Manager- Plant & Quality Control (QC) <span><a class="theme-color ms-2"
                        href="/assets/engage-wth-us/Job Description (a) Plant Manager (b) Assistant Manager (Plant-QC) (Rajasthan).pdf"
                        target="_blank">click here
                    </a></span></li>
            <li class="fw-bold mb-2">Sales Manager/ Sales Executive <span><a class="theme-color ms-2"
                        href="/assets/engage-wth-us/Job Description- Sales Manager- Executive (Rajasthan).pdf"
                        target="_blank">click here
                    </a></span></li>
            <li class="fw-bold mb-2">Procurement Manager/Head <span><a class="theme-color ms-2"
                        href="/assets/engage-wth-us/Job Description- Procurement Head- Procurement Manager (PM) (Rajasthan).pdf"
                        target="_blank">click here
                    </a></span></li>
        </ul>
        <a href="https://forms.gle/ikmHPBL2qgcyXHBM6" target="_blank" rel="noopener noreferrer"><button type="button"
                class="btn bt mt-2 mb-5">
                Apply Now</button></a>

    </div>
</div>