.row {
	margin-top: 50px;
	margin-bottom: 50px;
	padding: 10px;
}
.card {
	background-color: #ffe6e9;
	border: none;
	margin-top: 30px;
}
.card img {
	height: 75px;
	width: 75px;
	margin: auto;
	border-radius: 50%;
	border: 3px solid #fff;
	padding: 14px;
	margin-top: -35px;
	background-color: #ffe6e9;
}
h5 {
	color: #ef4e58;
	text-align: center;
}
h6,
a {
	text-align: center;
	text-decoration: none;
	color: #ef4e58;
	font-size: 14px;
}
p {
	font-size: 13px;
	color: rgb(54, 54, 54);
	text-align: center;
}
