.container {
	margin-top: 4rem;
}
.limitTextHeight {
	height: 160px;
	overflow: hidden;
}
.card-img-top {
	margin-top: -50px;
	height: 100px;
	width: 100px;
}
.card {
	background: #ffe7f0;
	margin-bottom: 4rem;
}
span {
	color: #ef4e58;
}
