<div class="row ">
    <div *ngFor="let data of glanceData" class="col-lg-3 col-md-3 col-sm-6">

        <div class="col">
            <div class="card">

                <img [src]="data.image" class="card-img-top" />

                <div class="card-body">
                    <h5 class="card-title">{{data.title}}</h5>
                    <p class="card-text mx-auto">{{data.discription}}</p>
                    <a href="#">
                        <h6>Read More...</h6>
                    </a>
                </div>
            </div>
        </div>
    </div>
</div>