<!-- mission vission -->

<div class="container-fluid  background mx-auto mb-5 p-3">
    <div *ngFor='let data of aboutMission'>
        <div class="row mx-auto mb-5">
            <div class="col-lg-3 col-md-6 col-sm-12">
                <img class="d-block w-100 " [src]="data.abt_image">
            </div>
            <div class="col-lg-9 col-md-6 col-sm-12">
                <h1 class="subtitle-text  head" style="text-decoration: underline;">{{data.abt_title}}</h1>
                <div [ngClass]="{'textHeight':isReadMore}">
                    <p *ngIf="showLess" class="paragraph-text">{{data.abt_paragraph | slice:0:550}}
                        <span *ngIf="data.abt_paragraph.length>500">
                            ...
                        </span>
                    </p>
                    <p *ngIf="!showLess" class="paragraph-text">{{data.abt_paragraph}}

                    </p>
                </div>
                <button class="btn-sm bt mt-1 mb-3" type="button" (click)="showText()">
                    {{ isReadMore ? 'Read More': 'Read Less' }}
                </button>
            </div>
        </div>
    </div>
    <div *ngFor='let data of aboutProduct'>
        <div class="row mx-auto mb-5">
            <div class="col-lg-9 col-md-6 col-sm-12 ">
                <h1 class="subtitle-text head" style="text-decoration: underline;">{{data.abt_title}}</h1>
                <div [ngClass]="{'textHeight':isReadMore_1}">
                    <p *ngIf="showLess1" class="paragraph-text">{{data.abt_paragraph | slice:0:550}}
                        <span *ngIf="data.abt_paragraph.length>550">
                            ...
                        </span>
                    </p>
                    <p *ngIf="!showLess1" class="paragraph-text">{{data.abt_paragraph}}

                    </p>

                </div>
                <button class="btn-sm bt mt-1 mb-3" (click)="showText_1()">{{isReadMore_1? 'Read More':'Read
                    Less'}}</button>
            </div>
            <div class="col-lg-3 col-md-6 col-sm-12">
                <img class="d-block w-100" [src]="data.abt_image">
            </div>
        </div>
    </div>
    <div *ngFor='let data of aboutWho'>
        <div class="row mx-auto mb-5">
            <div class="col-lg-3 col-md-6 col-sm-12">
                <img class="d-block w-100" [src]="data.abt_image">
            </div>
            <div class="col-lg-9 col-md-6 col-sm-12 ">
                <h1 class="subtitle-text  head" style="text-decoration: underline;">{{data.abt_title}}</h1>
                <div [ngClass]="{'textHeight':isReadMore_2}">
                    <p *ngIf="showLess2" class="paragraph-text ">{{data.abt_paragraph |slice:0:550}}
                        <span *ngIf="data.abt_paragraph.length>550">...</span>
                    </p>
                    <p *ngIf="!showLess2" class="paragraph-text ">{{data.abt_paragraph}}

                    </p>
                </div>
                <button class="btn-sm bt mt-1 mb-3" (click)="showText_2()">{{isReadMore_2? 'Read
                    More':'Read
                    Less'}}</button>
            </div>
        </div>
    </div>
</div>

<!-- Board of Director -->
<div class="container-fluid my-5">
    <h1 class="header-text text-center pb-3">Company Board of Directors Members</h1>
    <p-carousel [value]="product" [numVisible]="3" [numScroll]="3" [circular]="false"
        [responsiveOptions]="responsiveOptions">
        <ng-template let-product pTemplate="item">
            <div class="product-item ms-5">
                <div>
                    <img [src]="product.image" alt="" class="d-block ms-2 w-75">
                </div>
                <div>
                    <h5 class="text-center me-2 fs-4 text-uppercase theme-color mt-3">{{product.title}}</h5>
                    <h6 class="text-center me-2 fs-6 text-uppercase">{{product.position}}</h6>
                </div>
            </div>
        </ng-template>
    </p-carousel>
</div>

<!-- Value & Object -->
<div class="container-fluid my-5 bg-light p-5 value">
    <div class="row ">
        <h1 class="header-text text-center mb-5">Value & Objective</h1>
        <div *ngFor="let data of valueData" class="card text-center mx-auto mb-5 shadow" style="width: 18rem;">
            <img [src]="data.val_imag" height="40px" class="mx-auto mt-4" />
            <div class="card-body p-4">
                <h5 class="card-title fs-4 theme-color text-uppercase">{{data.val_subtitle}}</h5>
                <p class="card-text paragraph-text mt-3">{{data.val_para}}</p>
            </div>
        </div>
    </div>
</div>


<!-- Team Organization -->
<div class="container-fluid background p-5 mt-5">
    <h1 class="header-text text-center mb-3">Team member of an organization</h1>
    <div class="row  mb-3">
        <div *ngFor='let data of teamMember' class="col-lg-3 col-md-6 col-sm-12 text-center">
            <div>
                <img [src]="data.team_img">
                <h3 class="subtitle-text mt-1">{{data.team_title}}</h3>
                <p class="mb-3">{{data.team_subt}}</p>
            </div>
        </div>
    </div>
    <div class=" row ">
        <div *ngFor='let data of teamMember1' class="col-lg-3 col-md-6 col-sm-12 text-center ">
            <div>
                <img [src]="data.team_img1">
                <h3 class="subtitle-text mt-1">{{data.team_title1}}</h3>
                <p class="mb-3">{{data.team_subt1}}</p>
            </div>
        </div>
    </div>
</div>