<!-- mission vission -->

<div class="mission">
    <div class="container mb-3 mx-auto">
        <div class="about">

            <div class="row abt pt-3">
                <div class="col-lg-3 col-md-3 col-sm-3">
                    <img class="responsive" src="/assets/about_us/mission and vission.png" alt="">
                </div>
                <div class="col-lg-9 col-md-9 col-sm-9">
                    <h3>mission & vission</h3>
                    <p class="paragraph-text">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aliquam aliquam,
                        interdum ultrices sit.
                        Turpis iaculis lacus, tortor ut sagittis suscipit auctor ut. Praesent nunc, dui montes, sagittis
                        sit
                        egestas gravida eget. Amet a in in enim duis fames id sagittis mi. Tellus tortor sed turpis
                        convallis nec lobortis id. Elit lectus sodales in vitae. Ac posuere gravida id egestas morbi nam
                        mi
                        nulla. Nunc diam consectetur amet ut dapibus.
                        Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aliquam aliquam, interdum ultrices sit.
                        Turpis iaculis lacus, tortor ut sagittis suscipit auctor ut. Praesent nunc, dui montes, sagittis
                        sit
                        egestas gravida eget. Amet a in in enim duis fames id sagittis mi. Tellus tortor sed turpis
                        convallis nec lobortis id. Elit lectus sodales in vitae. Ac posuere gravida id egestas morbi nam
                        mi
                        nulla. Nunc diam consectetur amet ut dapibus.
                    </p>
                    <button class="btn-sm bt">Read More</button>
                </div>

            </div>

            <div class="row abt pt-3">

                <div class="col-lg-9 col-md-9 col-sm-9">
                    <h3>Product and services</h3>
                    <p class="paragraph-text">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aliquam aliquam,
                        interdum
                        ultrices sit.
                        Turpis iaculis lacus, tortor ut sagittis suscipit auctor ut. Praesent nunc, dui montes, sagittis
                        sit
                        egestas gravida eget. Amet a in in enim duis fames id sagittis mi. Tellus tortor sed turpis
                        convallis nec lobortis id. Elit lectus sodales in vitae. Ac posuere gravida id egestas morbi nam
                        mi
                        nulla. Nunc diam consectetur amet ut dapibus.
                        Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aliquam aliquam, interdum ultrices sit.
                        Turpis iaculis lacus, tortor ut sagittis suscipit auctor ut. Praesent nunc, dui montes, sagittis
                        sit
                        egestas gravida eget. Amet a in in enim duis fames id sagittis mi. Tellus tortor sed turpis
                        convallis nec lobortis id. Elit lectus sodales in vitae. Ac posuere gravida id egestas morbi nam
                        mi
                        nulla. Nunc diam consectetur amet ut dapibus.
                    </p>
                    <button class="btn-sm bt">Read More</button>
                </div>

                <div class="col-lg-3 col-md-3 col-sm-3 mt-2">
                    <img class="responsive" src="/assets/about_us/prod and services.png" alt="">
                </div>

            </div>



            <div class="row abt pt-3">
                <div class="col-lg-3 col-md-3 col-sm-3">
                    <img class="responsive" src="/assets/about_us/who we are.png" alt="">
                </div>

                <div class="col-lg-9 col-md-9 col-sm-9 mb-3">
                    <h3>Product and services</h3>
                    <p class="paragraph-text">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aliquam aliquam,
                        interdum ultrices sit.
                        Turpis iaculis lacus, tortor ut sagittis suscipit auctor ut. Praesent nunc, dui montes, sagittis
                        sit
                        egestas gravida eget. Amet a in in enim duis fames id sagittis mi. Tellus tortor sed turpis
                        convallis nec lobortis id. Elit lectus sodales in vitae. Ac posuere gravida id egestas morbi nam
                        mi
                        nulla. Nunc diam consectetur amet ut dapibus.
                        Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aliquam aliquam, interdum ultrices sit.
                        Turpis iaculis lacus, tortor ut sagittis suscipit auctor ut. Praesent nunc, dui montes, sagittis
                        sit
                        egestas gravida eget. Amet a in in enim duis fames id sagittis mi. Tellus tortor sed turpis
                        convallis nec lobortis id. Elit lectus sodales in vitae. Ac posuere gravida id egestas morbi nam
                        mi
                        nulla. Nunc diam consectetur amet ut dapibus.
                    </p>
                    <button class="btn-sm bt">Read More</button>
                </div>



            </div>


        </div>
    </div>
</div>


<!-- board member -->

<div class="container mb-3">
    <div class="row">
        <div class="board-dir col-12 ">
            <h1 class="header-text">Board of director</h1>
        </div>
    </div>

    <div class="row">
        <div class="col-12">
            <div id="carouselExampleControls" class="carousel slide carousel-fade" data-bs-ride="carousel">
                <div class="carousel-inner ">


                    <div class="carousel-item active">

                        <div class="row mx-auto">

                            <div class="box col-lg-3 col-md-6 col-sm-6">
                                <img class="board-img responsive p-4" src="/assets/our team/team_1.png" alt="">
                                <h5 class="text-center">Mr Ag Marhotra</h5>
                                <h6 class="text-center">Formal Mang(xyz)</h6>
                            </div>

                            <div class="box col-lg-3 col-md-6 col-sm-6">
                                <img class="board-img responsive p-4" src="/assets/our team/team_2.png" alt="">
                                <h5 class=" text-center">Mr Ag Marhotra</h5>
                                <h6 class=" text-center">Formal Mang(xyz)</h6>
                            </div>

                            <div class="box col-lg-3 col-md-6  col-sm-6">
                                <img class="board-img  responsive p-4" src="/assets/our team/team_3.png" alt="">
                                <h5 class=" text-center">Mr Ag Marhotra</h5>
                                <h6 class=" text-center">Formal Mang(xyz)</h6>
                            </div>
                            <div class="box col-lg-3  col-md-6 col-sm-6 ">
                                <img class="board-img responsive p-4" src="/assets/our team/team_3.png" alt="">
                                <h5 class=" text-center">Mr Ag Marhotra</h5>
                                <h6 class=" text-center">Formal Mang(xyz)</h6>
                            </div>


                        </div>
                    </div>


                    <div class="carousel-item">
                        <div class="row mx-auto">
                            <div class="box col-lg-3  col-md-6  col-sm-6">
                                <img class="board-img responsive p-4" src="/assets/our team/team_4.png" alt="">
                                <h5 class=" text-center">Mr Ag Marhotra</h5>
                                <h6 class=" text-center">Formal Mang(xyz)</h6>
                            </div>

                            <div class="box col-lg-3  col-md-6  col-sm-6">
                                <img class="board-img responsive p-4" src="/assets/our team/team_5.png" alt="">
                                <h5 class=" text-center">Mr Ag Marhotra</h5>
                                <h6 class="text-center">Formal Mang(xyz)</h6>
                            </div>

                            <div class="box col-lg-3  col-md-6  col-sm-6 ">
                                <img class="board-img responsive p-4" src="/assets/our team/team_6.png" alt="">
                                <h5 class=" text-center">Mr Ag Marhotra</h5>
                                <h6 class=" text-center">Formal Mang(xyz)</h6>
                            </div>
                            <div class="box col-lg-3 col-md-6   col-sm-6">
                                <img class="board-img responsive p-4" src="/assets/our team/team_6.png" alt="">
                                <h5 class=" text-center">Mr Ag Marhotra</h5>
                                <h6 class=" text-center">Formal Mang(xyz)</h6>
                            </div>


                        </div>
                    </div>


                    <button class="carousel-control-prev " type="button" data-bs-target="#carouselExampleControls"
                        data-bs-slide="prev">
                        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                        <span class="visually-hidden">Previous</span>
                    </button>
                    <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleControls"
                        data-bs-slide="next">
                        <span class="carousel-control-next-icon" aria-hidden="true"></span>
                        <span class="visually-hidden">Next</span>
                    </button>

                </div>

            </div>
        </div>
    </div>
</div>

<!-- team memeber -->
<div class="team-member mt-3 mx-auto">
    <div class="container ">

        <h1 class="header-text p-3">Team member of an Organization</h1>
        <div class="col-12 mt-1 mb-1 pt-3 pb-3 ">
            <div class="row ">
                <div *ngFor="let data of memberData_1" class="col-lg-3 col-md-6 col-sm-6 ">
                    <div class="col mb-3">
                        <div class="card">
                            <img [src]="data.image" class="responsive p-5" alt="...">

                            <h5 class="text-center mb-3">{{data.mem_title}}</h5>
                            <h6 class="deg text-center">{{data.deg_title}}</h6>
                        </div>

                    </div>
                </div>
            </div>
            <div class="row ">
                <div *ngFor="let data of memberData_2" class="col-lg-3 col-md-6 col-sm-6 ">
                    <div class="col">
                        <div class="card">
                            <img [src]="data.image" class="responsive p-5" alt="...">

                            <h5 class="text-center mb-3">{{data.mem_title}}</h5>
                            <h6 class="deg text-center">{{data.deg_title}}</h6>
                        </div>

                    </div>
                </div>
            </div>

        </div>

    </div>
</div>