.textHeight {
	text-align: justify;
}
@media (max-width: 1200px) {
	.head {
		margin-top: 10px !important;
	}
}
@media (max-width: 768px) {
	.prod {
		margin-top: 0px !important;
	}
	.bod {
		height: 160px;
	}
}
.team-member .card img {
	border-radius: 50%;
}

@media (max-width: 568px) {
	.bod {
		height: 180px;
	}
}

// value & objective
.value .card {
	transition: 1.5s all;
}
.value .card:hover {
	transform: scale(1.1);
	border: 1px solid #ef4e58;
}
