<!-- mission vission -->

<div class=" background mx-auto mb-5 p-3">
    <div class="container">
        <div *ngFor='let data of aboutMission'>
            <div class="row mx-auto mb-5">
                <div class="col-lg-3 col-md-6 col-sm-12">
                    <img class="d-block w-100 " [src]="data.abt_image">
                </div>
                <div class="col-lg-9 col-md-6 col-sm-12">
                    <h2 class="subtitle-text text-decoration-underline">{{data.abt_title}}</h2>

                    <p class="paragraph-text text-justify mt-1">{{data.abt_paragraph}}</p>

                </div>
            </div>
        </div>
        <div *ngFor='let data of aboutProduct'>
            <div class="row mx-auto mb-5">
                <div class="col-lg-9 col-md-6 col-sm-12 mt-1">
                    <h2 class="subtitle-text head text-decoration-underline">{{data.abt_title}}</h2>
                    <p class="paragraph-text fw-bold">{{data.abt_paragraph}}</p>
                    <p class="paragraph-text text-justify">{{data.productPara}}</p>
                    <p class="paragraph-text text-justify">{{data.productPara1}}</p>
                    <p class="paragraph-text text-justify">{{data.productPara2}}</p>
                    <p class="paragraph-text text-justify">{{data.productPara3}}</p>
                </div>

                <div class="col-lg-3 col-md-6 col-sm-12 mt-5 prod">
                    <img class="d-block w-100 " [src]="data.abt_image">
                </div>
            </div>
        </div>
        <div *ngFor='let data of aboutWho'>
            <div class="row mx-auto mb-5">
                <div class="col-lg-3 col-md-6 col-sm-12">
                    <img class="d-block w-100" [src]="data.abt_image">
                </div>
                <div class="col-lg-9 col-md-6 col-sm-12 ">
                    <h2 class="subtitle-text  text-decoration-underline">{{data.abt_title}}</h2>

                    <p class="paragraph-text text-justify mt-1">{{data.abt_paragraph}}

                </div>
            </div>
        </div>
    </div>
</div>

<!-- Board of Director -->
<div class="container my-5">
    <h1 class="header-text text-center pb-3"> Board of Directors </h1>
    <p-carousel [value]="product" [numVisible]="3" [numScroll]="3" [circular]="false"
        [responsiveOptions]="responsiveOptions">
        <ng-template let-product pTemplate="item">
            <div class="product-item ms-5">
                <div>
                    <img [src]="product.image" alt="" class="bod d-block ms-2 w-75 rounded-circle" height="180">
                </div>
                <div>
                    <h5 class="text-center me-5  text-uppercase theme-color mt-3">{{product.title}}</h5>
                    <h6 class="text-center me-5  text-uppercase">{{product.position}}</h6>
                </div>
            </div>
        </ng-template>
    </p-carousel>
</div>

<!-- Value & Object -->
<div class="container-fluid bg-light">
    <div class="container my-5  value">
        <div class="row ">
            <h1 class=" header-text text-center my-3">Value & Objective</h1>
            <div *ngFor="let data of valueData" class="col-lg-3 col-md-6 col-sm-12">
                <div class="card text-center p-4 mb-5 shadow" style="height: 330px;">
                    <img [src]="data.val_imag" height="40px" class="mx-auto color-white" />
                    <div class="card-body">
                        <h5 class="theme-color text-uppercase">{{data.val_subtitle}}</h5>
                        <p class=" paragraph-text mt-3">{{data.val_para}}</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>


<!-- Team Organization -->
<div class="container-fluid background">
    <div class="container p-5 mt-5">
        <h1 class="header-text text-center mb-5">Team member of an organization</h1>
        <div class="row  mb-3">
            <div *ngFor='let data of teamMember' class="col-lg-3 col-md-6 col-sm-12 text-center">
                <div>
                    <img [src]="data.team_img">
                    <h5 class="subtitle-text mt-1">{{data.team_title}}</h5>
                    <p class="mb-3 fw-bold">{{data.team_subt}}</p>
                </div>
            </div>
        </div>
        <div class=" row ">
            <div *ngFor='let data of teamMember1' class="col-lg-3 col-md-6 col-sm-12 text-center ">
                <div>
                    <img [src]="data.team_img1">
                    <h5 class="subtitle-text mt-1">{{data.team_title1}}</h5>
                    <p class="mb-3 fw-bold">{{data.team_subt1}}</p>
                </div>
            </div>
        </div>
        <div class=" row mt-2">
            <div *ngFor='let data of teamMember2' class="col-lg-3 col-md-6 col-sm-12 text-center ">
                <div>
                    <img [src]="data.team_img1">
                    <h5 class="subtitle-text mt-1">{{data.team_title1}}</h5>
                    <p class="mb-3 fw-bold">{{data.team_subt1}}</p>
                </div>
            </div>
        </div>
    </div>
</div>