<!-- Article -->
<div class="container m3-5">

    <h1 class="header-text text-center">Articles</h1>
    <div class="col-12 offset-lg-4">
        <ul>

            <a href="/assets/media/Coriander Case Study.pdf" target="_blank">
                <li class="ms-3 theme-color fw-bold ms-5">Case Study(Coriander Value Chain Analysis) </li>
            </a>

        </ul>
    </div>
</div>


<!-- Annoncement Archieve -->
<div class="annoncement-a my-5 background">
    <div class="container py-5">
        <h1 class="theme-color text-center"> Annoucement Archive</h1>

        <div class="col-12 mt-3">
            <h5 class="display-6 text-center theme-color">New annoncement will be made soon by MKPCL</h5>
        </div>

        <!-- <div class="col-lg-6 col-md-12 col-sm-12 mt-3">
                <div class="date-picker text-center">
                    <input type="date" class="p-2 text-uppercase text-danger fs-5 border shadow"><span><i
                            class="fas fa-calendar-alt calender fs-1 ms-1 theme-color"></i></span>
                </div>
            </div> -->
    </div>
</div>

<!-- video section -->
<div class="conatiner bg-light shadow border-success my-5">
    <h1 class="header-text pt-4 text-center">Things To know</h1>
    <div class="row p-4">
        <div class="col-lg-6 col-md-12 col-sm-12 text-center">


        </div>



    </div>

</div>
<!-- Gallery -->
<div class="gallery my-5">
    <div class="container">

        <h1 class="text-center header-text ">Gallery</h1>

        <div class="col-12  pb-3 ">
            <div class="row">
                <div *ngFor="let data of memberData" class="col-lg-3">
                    <div class="col">
                        <div class="card shadow mb-2">
                            <img [src]="data.image" alt="...">
                        </div>

                    </div>
                </div>
            </div>
        </div>

    </div>
</div>

<!-- Newspaper Article -->
<div class="background my-5">
    <div class="container pt-5">
        <div class="row mx-auto">
            <h1 class="header-text text-center"> Newspaper Articles</h1>

            <h5 class="display-6 text-center theme-color mb-5">Newspaper Articles will be appear soon</h5>

        </div>
    </div>
</div>

<!-- <img src="/src/assets/media/WhatsAppImage2.jpeg" alt=""> -->