<!-- Article -->
<div class="container my-5 text-center">

    <h1 class="header-text">Articles</h1>

    <ul class="list-unstyled">

        <a class="theme-color" href="/assets/media/Coriander Case Study.pdf" target="_blank">
            <li class="ms-3">Case Study(Coriander Value Chain Analysis) </li>
        </a>

    </ul>

</div>


<!-- Annoncement Archieve -->
<div class="annoncement-a my-5 background">
    <div class="container py-5">
        <h1 class="theme-color text-center"> Annoucement Archive</h1>

        <div class="col-12 mt-3">
            <h5 class="display-6 text-center theme-color">New annoncement will be made soon by MKPCL</h5>
        </div>

    </div>
</div>

<!-- video section -->
<div class="conatiner bg-light shadow border-success my-5 py-5">
    <h1 class="header-text py-3 text-center">Things To know</h1>

</div>
<!-- Gallery -->
<div class="gallery my-5">
    <div class="container">

        <h1 class="text-center header-text ">Gallery</h1>

        <div class="col-12  pb-3 ">
            <div class="row">
                <div *ngFor="let data of memberData" class="col-lg-3">
                    <div class="col">
                        <div class="card shadow mb-2">
                            <img [src]="data.image" alt="Gallery-Image">
                        </div>

                    </div>
                </div>
            </div>
        </div>

    </div>
</div>

<!-- Newspaper Article -->
<div class="background my-5">
    <div class="container pt-5">
        <div class="row mx-auto">
            <h1 class="header-text text-center"> Newspaper Articles</h1>

            <h5 class="display-6 text-center theme-color mb-5">Newspaper Articles will be appear soon</h5>

        </div>
    </div>
</div>

<!-- <img src="/src/assets/media/WhatsAppImage2.jpeg" alt=""> -->