<!-- Article -->
<div class="container mb-3 article ">
    <h1 class="header-text">Articles</h1>
    <div class="card-group">
        <div class="card m-3">
            <img class="responsive" src="/assets/media/ali-shah-lakhani-dwbzzB03gUE-unsplash.jpg" class="card-img-top"
                alt="...">
            <div class="card-body">
                <h3 class="card-title subtitle-text">Card title</h3>
                <p class="card-text paragraph-text">This card has supporting text below as a natural lead-in to
                    additional content.</p>
                <button class="btn-sm bt">Read More</button>
            </div>
        </div>
        <div class="card  m-3 col-md-12">
            <img class="responsive" src="/assets/media/ashni-Wh9ZC4727e4-unsplash.jpg" class="card-img-top" alt="...">
            <div class="card-body">
                <h3 class="card-title subtitle-text">Card title</h3>
                <p class="card-text paragraph-text">This card has supporting text below as a natural lead-in to
                    additional content.</p>
                <button class="btn-sm bt">Read More</button>
            </div>
        </div>
        <div class="card  m-3 col-md-12">
            <img class="responsive" src="/assets/media/markus-winkler-cxoR55-bels-unsplash.jpg" class="card-img-top"
                alt="...">
            <div class="card-body">
                <h3 class="card-title subtitle-text">Card title</h3>
                <p class="card-text paragraph-text">This card has supporting text below as a natural lead-in to
                    additional content.</p>
                <button class="btn-sm bt">Read More</button>
            </div>
        </div>
    </div>
</div>


<!-- Annoncement Archieve -->
<div class="annoncement-a mb-3 mt-3">
    <div class="container">
        <div class="row mt-3">
            <div class="col-lg-3 col-md-3 col-sm-3 mt-3">
                <h3 class="subtitle-text ms-1"> Annoucement Archive</h3>

                <ul class="ms-1">
                    <li><a href=""> 1.Lorem ipsum dolor sit amet.</a></li>
                    <li><a href=""> 2.Lorem ipsum dolor sit amet.</a></li>
                    <li><a href=""> 3.Lorem ipsum dolor sit amet.</a></li>
                    <li><a href=""> 4.Lorem ipsum dolor sit amet.</a></li>

                </ul>
            </div>
            <div class="col-3 mt-3">
                <h3 class="subtitle-text ms-1"> Annoucement Archive</h3>

                <ul class="ms-1">
                    <li><a href=""> 5.Lorem ipsum dolor sit amet.</a></li>
                    <li><a href=""> 6.Lorem ipsum dolor sit amet.</a></li>
                    <li><a href=""> 7.Lorem ipsum dolor sit amet.</a></li>
                    <li><a href=""> 8.Lorem ipsum dolor sit amet.</a></li>

                </ul>
            </div>

            <div class="col-6">
                <div class="date-picker ms-3 ">
                    <input type="date"><span><i class="fas fa-calendar-alt calender"></i></span>
                </div>
            </div>


        </div>

    </div>
</div>


<!-- video section -->
<div class="conatiner m-3 bg-light video-block shadow">


    <div class="row p-3">

        <h3 class="header-text">Things To know</h3>
        <div class="col-lg-6 col-md-9 col-sm-9">
            <iframe width="420" height="250" src="https://www.youtube.com/embed/W3P9deLFkk8"
                style="box-shadow:rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;">
            </iframe>
            <p class="mb-1 "> <a href=""> Title</a></p>
            <p class="paragraph-text">Lorem ipsum dolor sit, amet consectetur adipisicing elit. Quam distinctio vel
                eum! Vitae,
                nostrum?
                Consequatur ipsa dignissimos, odio veritatis esse voluptate cumque, atque quasi alias, laudantium
                possimus illum adipisci? Voluptatem?</p>
        </div>

        <div class="col-lg-3 col-md-6 col-sm-6 video-block-1">
            <iframe width="200" height="120" src="https://www.youtube.com/embed/KhoV-vBAyFI"
                style="box-shadow:rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;">
            </iframe>
            <p> <a href=""> Title-1</a></p>

            <div class="col-lg-3 col-md-6 col-sm-6 video-block-1 ">

                <iframe width="200" height="120" src="https://www.youtube.com/embed/b_VROMhAoSs"
                    style="box-shadow:rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;">
                </iframe>
                <p> <a href=""> Title-2</a></p>
            </div>
        </div>

        <div class="col-lg-3 col-md-6 col-sm-6 video-block-2">

            <iframe width="200" height="120" src="https://www.youtube.com/embed/b-4bQjBiXxA"
                style="box-shadow:rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;">
            </iframe>
            <p> <a href=""> Title-3</a></p>

            <div class="col-lg-3 col-md-6 col-sm-6 video-block-2">

                <iframe width="200" height="120" src="https://www.youtube.com/embed/b2XYLEliMhQ"
                    style="box-shadow:rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;">
                </iframe>
                <p class="subtitle-text"> <a href=""> Title-4</a></p>
            </div>
        </div>


    </div>

</div>
<!-- Gallery -->
<div class="gallery mt-3">
    <div class="container">

        <h3 class="header-text">Gallery</h3>
        <div class="underline_2 mb-3 "></div>
        <div class="col-12  pb-3 ">
            <div class="row ">


                <div *ngFor="let data of memberData" class="col-lg-3 col-md-6 col-sm-12 ">
                    <div class="col">
                        <div class="card mb-3">
                            <a href="">
                                <p class="subtitle-text">{{data.gal_title}}</p>
                            </a>
                            <img [src]="data.image" alt="...">



                        </div>

                    </div>
                </div>
            </div>
        </div>
        <div class="col-12  mb-1 pt-3 pb-3 ">
            <div class="row ">
                <div *ngFor="let data of memberData_2" class="col-lg-3 col-md-6 col-sm-12 ">
                    <div class="col">
                        <div class="card mb-3">
                            <a href="">
                                <p class="subtitle-text">{{data.gal_title}}</p>
                            </a>
                            <img [src]="data.image" alt="...">



                        </div>

                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<!-- Newspaper Article -->
<div class="new-article mt-3">
    <div class="container">
        <div class="row">
            <div class="col-lg-6 col-md-6 col-sm-12">

                <p class="paragraph-text">1.Lorem ipsum dolor sit amet.<a href=""><span>Link</span></a></p>
                <p class="paragraph-text">2.Lorem ipsum dolor sit amet.<a href=""><span>Link</span></a></p>
                <p class="paragraph-text">3.Lorem ipsum dolor sit amet.<a href=""><span>Link</span></a></p>
                <p class="paragraph-text">4.Lorem ipsum dolor sit amet.<a href=""><span>Link</span></a></p>
            </div>
            <div class="col-lg-6 col-md-6 col-sm-12">
                <p class="paragraph-text">5.Lorem ipsum dolor sit amet.<a href=""><span>Link</span></a> </p>
                <p class="paragraph-text">6.Lorem ipsum dolor sit amet.<a href=""><span>Link</span></a> </p>
                <p class="paragraph-text">7.Lorem ipsum dolor sit amet.<a href=""><span>Link</span></a> </p>
                <p class="paragraph-text">8.Lorem ipsum dolor sit amet.<a href=""><span>Link</span></a> </p>
            </div>

        </div>
    </div>