
<div class="project-update" style="background: #ffe7f0;">
    <div class="container pt-3 pb-5">
        <h1 class="header-text pb-2">Progress at Glance</h1>

        <div class="row mx-auto p-4 shadow" style="background: #ef4e58;">

            <div class="col-lg-3 p-3 text-center">
                <p class="fs-2 text-white">{{farmerMemberCount}}</p>
                <p class="fw-bold text-white fs-5">Farmer Member</p>

            </div>
            <div class="col-lg-3 p-3 text-center">
                <p class="fs-2" style="color: yellow;"> {{farmerMemberCount}}</p>
                <p class="fw-bold text-white fs-5">Average Under Cultivation</p>
            </div>
            <div class="col-lg-3 p-3 text-center">
                <p class="fs-2 text-white">{{dc3Count}}</p>
                <p class="fw-bold text-white fs-5">DC3</p>
            </div>
            <div class="col-lg-3 p-3 text-center">
                <p class="fs-2" style="color: yellow;">{{productCount}}</p>
                <p class=" fw-bold text-white fs-5">products</p>
            </div>

        </div>
    </div>
</div>

<!-- Crops Production -->
<div class="chart" style="background: whitesmoke;">
    <div class="container pt-3">
        <h1 class="header-text mt-3">Crops Production</h1>
        <div class="row mt-5">
            <div class="col-lg-6 col-sm-12 mb-5">

                <div id="divChart">
                    <canvas id="myChart"></canvas>
                </div>
            </div>
            <div class="col-lg-6 col-sm-12">

                <div class="mx-auto d-block w-50" id="divChart_1">
                    <canvas id="pieChart"></canvas>

                </div>
            </div>
        </div>


    </div>

</div>
<!-- bottom-sec -->
<div class="bottom-sec background mx-auto ">
    <div class="container-fluid ">
        <div class="row pt-3">
            <div class="col-lg-3 col-md-3 col-sm-3">
                <img src="/assets/project update/procurement.png" alt="procurement">
            </div>
            <div class="col-lg-9 col-md-9 col-sm-9 mt-2">
                <h3 class="subtitle-text">Procurement</h3>
                <div [ngClass]="{'limitTextHeight': isProcurement}">

                    <p class="paragraph-text mt-2 me-5">
                        Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aliquam aliquam,
                        interdum
                        ultrices sit.
                        Turpis iaculis lacus, tortor ut sagittis suscipit auctor ut. Praesent nunc, dui montes,
                        sagittis
                        sit
                        egestas gravida eget. Amet a in in enim duis fames id sagittis mi. Tellus tortor sed turpis
                        convallis nec lobortis id. Elit lectus sodales in vitae. Ac posuere gravida id egestas morbi
                        nam
                        mi
                        nulla. Nunc diam consectetur amet ut dapibus.
                        Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aliquam aliquam, interdum ultrices
                        sit.
                        Turpis iaculis lacus, tortor ut sagittis suscipit auctor ut. Praesent nunc, dui montes,
                        sagittis
                        sit
                        egestas gravida eget. Amet a in in enim duis fames id sagittis mi. Tellus tortor sed turpis
                        convallis nec lobortis id. Elit lectus sodales in vitae. Ac posuere gravida id egestas morbi
                        nam
                        mi
                        nulla. Nunc diam consectetur amet ut dapibus.
                </div>
                <button class="btn-sm bt mt-1" type="button" (click)="showText()">
                    {{ isProcurement ? 'Read More': 'Read Less' }}
                </button>

            </div>

        </div>

        <div class="row pt-3">
            <div class="col-lg-9 col-md-9 col-sm-9 mt-2">
                <h3 class="subtitle-text">Member Enrollment</h3>

                <div [ngClass]="{'limitTextHeight': isMember}">

                    <p class="paragraph-text mt-2 ">
                        Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aliquam aliquam,
                        interdum
                        ultrices sit.
                        Turpis iaculis lacus, tortor ut sagittis suscipit auctor ut. Praesent nunc, dui montes,
                        sagittis
                        sit
                        egestas gravida eget. Amet a in in enim duis fames id sagittis mi. Tellus tortor sed turpis
                        convallis nec lobortis id. Elit lectus sodales in vitae. Ac posuere gravida id egestas morbi
                        nam
                        mi
                        nulla. Nunc diam consectetur amet ut dapibus.
                        Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aliquam aliquam, interdum ultrices
                        sit.
                        Turpis iaculis lacus, tortor ut sagittis suscipit auctor ut. Praesent nunc, dui montes,
                        sagittis
                        sit
                        egestas gravida eget. Amet a in in enim duis fames id sagittis mi. Tellus tortor sed turpis
                        convallis nec lobortis id. Elit lectus sodales in vitae. Ac posuere gravida id egestas morbi
                        nam
                        mi
                        nulla. Nunc diam consectetur amet ut dapibus.
                </div>
                <button class="btn-sm bt mt-1" type="button" (click)="showText1()">
                    {{ isMember ? 'Read More': 'Read Less' }}
                </button>

            </div>
            <div class="col-lg-3  col-md-3 col-sm-3">
                <img src="/assets/project update/member-enrollment.png" alt="member-enrollment">
            </div>

        </div>

        <div class="row pt-3">
            <div class="col-lg-3  col-md-3 col-sm-3">
                <img src="/assets/project update/prod-and-services.png" alt="product & services">
            </div>
            <div class="col-lg-9 col-md-9 col-sm-9 mb-3">
                <h3 class="subtitle-text">Process and Services </h3>

                <div [ngClass]="{'limitTextHeight': isProcess}">

                    <p class="paragraph-text mt-2 ">
                        Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aliquam aliquam,
                        interdum
                        ultrices sit.
                        Turpis iaculis lacus, tortor ut sagittis suscipit auctor ut. Praesent nunc, dui montes,
                        sagittis
                        sit
                        egestas gravida eget. Amet a in in enim duis fames id sagittis mi. Tellus tortor sed turpis
                        convallis nec lobortis id. Elit lectus sodales in vitae. Ac posuere gravida id egestas morbi
                        nam
                        mi
                        nulla. Nunc diam consectetur amet ut dapibus.
                        Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aliquam aliquam, interdum ultrices
                        sit.
                        Turpis iaculis lacus, tortor ut sagittis suscipit auctor ut. Praesent nunc, dui montes,
                        sagittis
                        sit
                        egestas gravida eget. Amet a in in enim duis fames id sagittis mi. Tellus tortor sed turpis
                        convallis nec lobortis id. Elit lectus sodales in vitae. Ac posuere gravida id egestas morbi
                        nam
                        mi
                        nulla. Nunc diam consectetur amet ut dapibus.
                </div>
                <button class="btn-sm bt mt-1" type="button" (click)="showText2()">
                    {{ isProcess ? 'Read More': 'Read Less' }}
                </button>

            </div>
        </div>
    </div>

</div>