.tender {
	background: url(http://hadoti.curiositydesk.com/media/tender.jpg);
	background-repeat: no-repeat;
	background-size: cover;
}
.option-bg {
	background: #fcdec7 !important;
}
select {
	background: #fff !important;
}
