<!-- Tender search -->

<div class="tender-search my-5">
    <div class="container mx-auto">
        <div class="row">

            <div class="col-lg-4 col-md-6 col-sm-12 ">
                <h2 class="theme-color">Tender Search</h2>
                <select name="apply" class="p-2 d-block w-100 rounded option-bg" id="tender-type" form="tenderform">
                    <option value="tender-type">Tender Type</option>
                    <option value="tender"></option>
                </select>
                <div class="mt-2 mb-2">
                    <select name="apply" class="p-2 d-block w-100 rounded option-bg" id="field" form="tenderform">
                        <option value="field of experties">Field of experties</option>
                        <option value="tender"></option>
                    </select>
                </div>
                <div class="mt-2 mb-2">
                    <select name="apply" class="p-2 d-block w-100 rounded option-bg" id="region" form="tenderform">
                        <option value="apply ">applied for</option>
                        <option value="tender"></option>
                    </select>
                </div>
                <div class=" mt-2 mb-2">
                    <select name="apply" class="p-2 d-block w-100  rounded option-bg" id="region" form="tenderform">
                        <option value="region">Region</option>
                        <option value="tender"></option>
                    </select>
                </div>
                <div class="col-sm-12 mt-2 mb-2">
                    <select name="apply" class="p-2 d-block w-100 rounded option-bg" id="keyward" form="tenderform">
                        <option value="keyward">Keyword</option>
                        <option value="tender"></option>
                    </select>
                </div>

                <div class="row mb-2">
                    <h5 class="mt-2">Capture Date</h5>

                    <div class="col-lg-6 col-md-6 col-sm-6 ">
                        <select name="apply" class="p-2 d-block w-100 mb-2  rounded option-bg" id="to" form="applyform">
                            <option value="to">To</option>
                        </select>
                    </div>

                    <div class="col-lg-6 col-md-6 col-sm-6 ">
                        <select name="apply" class="p-2  d-block w-100 rounded option-bg" id="from" form="applyform">
                            <option value="from">From</option>
                        </select>
                    </div>

                </div>

                <div class="col-md-12 col-sm-12 mb-2">
                    <button class="btn-sm bt mb-2">Search</button>
                </div>

            </div>

            <div class="col-lg-8 col-md-12 my-5">
                <div class="row mx-auto background shadow">
                    <!-- <h2 class="theme-color  text-center pt-4 ">{{pageData.title}}

                    </h2>
                    <p class="text-dark text-center fs-5">{{pageData.content}}</p> -->

                    <div class="col-lg-4 col-sm-8  p-4 mt-4 mx-auto">
                        <h2 class="theme-color mb-1">Active Tender</h2>
                        <ul *ngFor="let data of active_tender" class="mx-auto">
                            <li class="theme-color list-unstyled mx-auto"><a class="theme-color" [href]="data.media"
                                    target="_blank">{{data.title}}</a>
                            </li>

                        </ul>
                    </div>
                    <div class="col-lg-4 col-sm-8  p-4 mt-4 mx-auto">
                        <h2 class="theme-color mb-1">Archive Tender</h2>
                        <ul *ngFor="let data of archive_tender" class="mx-auto">
                            <li class="list-unstyled "><a class=" theme-color" [href]="data.media"
                                    target="_blank">{{data.title}}</a></li>

                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
