<!-- Tender search -->

<div class="tender-search my-5">
    <div class="container">
        <div class="row">

            <div class="col-lg-3 col-md-6 col-sm-12 ">
                <h2 class="theme-color">Tender Search</h2>
                <select name="apply" class="p-2 d-block w-100 rounded option-bg" id="tender-type" form="tenderform">
                    <option value="tender-type">Tender Type</option>
                    <option value="tender"></option>
                </select>
                <div class="mt-2 mb-2">
                    <select name="apply" class="p-2 d-block w-100 rounded option-bg" id="field" form="tenderform">
                        <option value="field of experties">Field of experties</option>
                        <option value="tender"></option>
                    </select>
                </div>
                <div class="mt-2 mb-2">
                    <select name="apply" class="p-2 d-block w-100 rounded option-bg" id="region" form="tenderform">
                        <option value="apply ">applied for</option>
                        <option value="tender"></option>
                    </select>
                </div>
                <div class=" mt-2 mb-2">
                    <select name="apply" class="p-2 d-block w-100  rounded option-bg" id="region" form="tenderform">
                        <option value="region">Region</option>
                        <option value="tender"></option>
                    </select>
                </div>
                <div class="col-sm-12 mt-2 mb-2">
                    <select name="apply" class="p-2 d-block w-100 rounded option-bg" id="keyward" form="tenderform">
                        <option value="keyward">Keyword</option>
                        <option value="tender"></option>
                    </select>
                </div>

                <div class="row mb-2">
                    <h5 class="mt-2">Capture Date</h5>

                    <div class="col-lg-6 col-md-6 col-sm-6 ">
                        <select name="apply" class="p-2 d-block w-100 mb-2  rounded option-bg" id="to" form="applyform">
                            <option value="to">To</option>
                        </select>
                    </div>

                    <div class="col-lg-6 col-md-6 col-sm-6 ">
                        <select name="apply" class="p-2  d-block w-100 rounded option-bg" id="from" form="applyform">
                            <option value="from">From</option>
                        </select>
                    </div>

                </div>

                <div class="col-md-12 col-sm-12 mb-2">
                    <button class="btn-sm bt mb-2">Search</button>
                </div>

            </div>

            <div *ngFor="let data of pageData.component_data" class="col-lg-9 col-md-12 my-5">
                <div class=" d-block w-100 p-5 tender">
                    <div class="col-lg-9 col-md-12 col-sm-12 ">
                        <h1 class="text-white">{{data.title}}

                        </h1>
                        <h4 class="text-white fs-5">{{data.subtitle}}</h4>
                    </div>

                    <div class="row">
                        <div class="col-6">
                            <!-- Button trigger modal -->
                            <button type="button" class="btn-sm bt ms-2 mb-3" data-bs-toggle="modal"
                                data-bs-target="#exampleModal">
                                Advertisement
                            </button>
                            <br>
                            <button class="btn-sm bt ms-2 "> <a class="text-white "
                                    href="/assets/engage-wth-us/Open Tender_Hadoti_Soya n Mustard.pdf"
                                    target="_blank">Pre-bid
                                    invite</a> </button>


                            <!-- Modal -->
                            <div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel"
                                aria-hidden="true">
                                <div class="modal-dialog">
                                    <div class="modal-content">
                                        <div class="modal-header">
                                            <button type="button" class="btn-close theme-color " data-bs-dismiss="modal"
                                                aria-label="Close"></button>
                                        </div>
                                        <div class="modal-body">
                                            <img src="/assets/engage-wth-us/Hadoti Advertisement.jpeg" alt="">
                                        </div>

                                    </div>
                                </div>
                            </div>

                        </div>

                    </div>

                </div>
            </div>
        </div>
    </div>
</div>