.container-fluid {
	background-color: #ffe7f0;
}
.carousel-item .box {
	width: 220px;
	height: 260px;
	background-color: #fff;
	padding: 20px;
	margin: auto;
	margin-bottom: 30px;
	border-radius: 8px;
	box-shadow: 5px 10px 18px #bbbbbb;
}
.carousel-item img {
	height: 210px;
	margin-top: 10px;
	margin-left: 20px;
	width: 150px;
}
.carousel-control-prev-icon {
	background-image: url("data:image/svg+xml;charset=utf8,%3Csvg xmlns='http://www.w3.org/2000/svg' fill='%23ff0000'  viewBox='0 0 8 8'%3E%3Cpath d='M5.25 0l-4 4 4 4 1.5-1.5-2.5-2.5 2.5-2.5-1.5-1.5z'/%3E%3C/svg%3E") !important;
	margin-left: -150px;
	height: 21px;
}
.carousel-control-next-icon {
	background-image: url("data:image/svg+xml;charset=utf8,%3Csvg xmlns='http://www.w3.org/2000/svg' fill='%23ff0000' viewBox='0 0 8 8'%3E%3Cpath d='M2.75 0l-1.5 1.5 2.5 2.5-2.5 2.5 1.5 1.5 4-4-4-4z'/%3E%3C/svg%3E") !important;
	margin-right: -150px;
	height: 21px;
}

/* Responsive */

@media (max-width: 1200px) {
	.carousel-item .box {
		width: 200px;
		height: 250px;
	}
	.carousel-item img {
		height: 190px;
		margin-left: 0px;
	}
	.our-product h3 {
		font-size: 37px;
	}
}

@media (max-width: 992px) {
	.carousel-item .box {
		width: 160px;
		height: 190px;
	}
	.carousel-item img {
		height: 150px;
		margin-top: 0px;
	}
	.carousel-control-prev-icon {
		margin-left: -110px;
		height: 14px;
		margin-top: -20px;
	}
	.carousel-control-next-icon {
		margin-right: -110px;
		height: 14px;
		margin-top: -20px;
	}
	.our-product h3 {
		font-size: 27px;
		margin-top: 35px;
	}
}

@media (max-width: 768px) {
	.carousel-item .box {
		width: 100px;
		height: 130px;
	}
	.carousel-item img {
		height: 100px;
	}
	.carousel-control-prev-icon {
		margin-left: -80px;
		height: 14px;
		margin-top: -20px;
	}
	.carousel-control-next-icon {
		margin-right: -80px;
		height: 14px;
		margin-top: -20px;
	}
	.our-product h3 {
		font-size: 25px;
		margin-top: 35px;
	}
}

@media (max-width: 576px) {
	.carousel-item .box {
		width: 90px;
		height: 120px;
	}
	.carousel-item img {
		height: 80px;
	}
	.carousel-control-prev-icon {
		display: none;
	}
	.carousel-control-next-icon {
		display: none;
	}
	.our-product h3 {
		font-size: 21px;
		margin-top: 40px;
	}
}
