<div class="container-fluid our-product mb-3 mt-3">
    <div class="row">

        <div class=" col-12 mt-3 mb-3">
            <h1 class="header-text text-center">
                Our Selected Products
            </h1>
        </div>



    </div>

    <div class="row">
        <div class="col-12">
            <div id="carouselExampleControls" class="carousel slide" data-bs-ride="carousel">


                <div class="carousel-inner ">


                    <div class="carousel-item active">

                        <div class="row">

                            <div class="box col-lg-3 col-md-3 col-sm-3 ">
                                <a href="#"> <img src="/assets/our product/prod-1.png" alt=""></a>
                            </div>

                            <div class="box col-lg-3 col-md-3 col-sm-3 ">
                                <a href="#"><img src="/assets/our product/prod-2.png" alt=""></a>
                            </div>

                            <div class="box col-lg-3 col-md-3 col-sm-3 ">
                                <a href="#"> <img src="/assets/our product/prod-3.png" alt=""></a>
                            </div>

                            <div class="box col-lg-3 col-md-3 col-sm-3 ">
                                <a href="#"> <img src="/assets/our product/prod-4.png" alt=""></a>
                            </div>

                        </div>
                    </div>


                    <div class="carousel-item">
                        <div class="row">
                            <div class="box col-lg-3 col-md-3 col-sm-3 ">
                                <a href="#"><img src="/assets/our product/prod-5.png" alt=""></a>
                            </div>

                            <div class="box col-lg-3  col-md-3 col-sm-3 ">
                                <a href="#"> <img src="/assets/our product/prod-6.png" alt=""></a>
                            </div>

                            <div class="box col-lg-3 col-md-3 col-sm-3 ">
                                <a href="#"> <img src="/assets/our product/prod-7.png" alt=""></a>
                            </div>

                            <div class="box col-lg-3 col-md-3 col-sm-3 ">
                                <a href="#"><img src="/assets/our product/prod-8.png" alt=""></a>
                            </div>

                        </div>
                    </div>


                    <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleControls"
                        data-bs-slide="prev">
                        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                        <span class="visually-hidden">Previous</span>
                    </button>
                    <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleControls"
                        data-bs-slide="next">
                        <span class="carousel-control-next-icon" aria-hidden="true"></span>
                        <span class="visually-hidden">Next</span>
                    </button>



                </div>




            </div>
        </div>
    </div>
</div>