.logo1 {
	margin-top: -40px;
}
a {
	text-decoration: none;
	font-weight: 500;
	transition: all 0.5s;
}
.logo-3 {
	display: none;
}
a:hover {
	color: #ef4e58;
}
.navbar {
	margin-top: -60px;
}
.navbar-expand-lg .navbar-nav .nav-link {
	padding: 2rem 1.6rem;
	font-size: clamp(18px, 5vw, 21px);
	position: relative;
	text-transform: uppercase;
	color: black;
}
.navbar-expand-lg .navbar-nav .nav-link:hover {
	color: #ef4e58;
}
.navbar-nav {
	// margin-left: -70px;
}
.active {
	color: #ef4e58 !important;
}
.navbar-light .navbar-toggler {
	color: #ef4e58;
	border-color: #ef4e58;
}

.navbar-light .navbar-toggler-icon {
	background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 30 30'%3e%3cpath stroke='red' stroke-linecap='round' stroke-miterlimit='10' stroke-width='2' d='M4 7h22M4 15h22M4 23h22'/%3e%3c/svg%3e");
}
.dropdown-divider {
	color: #ef4e58;
	margin: 0px;
}
.dropdown-item.active,
.dropdown-item:active {
	text-decoration: none;
	background-color: #ffe7f0;
}
.dropdown-item:focus,
.dropdown-item:hover {
	color: rgb(82, 74, 74);
	background-color: #ffe7f0;
}
.dropdown-menu {
	padding: 0px;
	font-size: clamp(20px, 5vw, 20px);
	margin-top: -20px;
}
.mx-5 {
	margin-right: 0rem !important;
	margin-left: 0rem !important;
}
/* Responsive */
@media (max-width: 1200px) {
	.logo1 {
		width: 160px !important;
		height: 80px !important;
	}
	.navbar-nav {
		margin-left: 0px !important;
	}
}

@media (max-width: 992px) {
	.header h1 {
		display: none;
	}
	.logo1 {
		width: 140px !important;
		height: 70px !important;
		margin-top: 50px !important;
	}
	.logo-2 {
		display: none;
	}
	.logo-3 {
		display: inline;
		margin-top: 70px !important;
	}
	.navbar-light .navbar-toggler {
		margin-top: 80px !important;
	}
}

@media (max-width: 376px) {
	.navbar-light .navbar-toggler {
		margin-right: 0px !important;
	}
}
.filter-green{
  filter: invert(48%) sepia(79%) saturate(2476%) hue-rotate(86deg) brightness(118%) contrast(119%);
}
