<div class="header mb-2">

    <h1 class="text-center tittle header-text mt-3 theme-color">Hadoti Mahila Kisan Producer Company Ltd.</h1>

    <nav class="navbar navbar-expand-lg navbar-light ">
        <div class="container-fluid d-flex justify-content-center">
            <a class="navbar-brand-1  p-2 me-auto " [routerLink]="['/']"><img class="img-fluid logo1"
                    src="/assets/brand_logo/hadoti_logo.png" alt=""></a>

            <a class="navbar-brand logo-3  mt-2" href="#"><img src="/assets/brand_logo/logo_2.png" alt=""></a>

            <button class="navbar-toggler mt-4 p-2  " type="button" data-bs-toggle="collapse"
                data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false"
                aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse  justify-content-center text-center" id="navbarSupportedContent">
                <ul class="navbar-nav mb-2 mb-lg-0 mt-5">
                    <li class="nav-item">
                        <a class="nav-link" aria-current="page" [routerLink]="['/']" routerLinkActive="active"
                            (click)="ToggleNavBar()">Home</a>
                    </li>

                    <li class="nav-item dropdown ">
                        <a class="nav-link dropdown-toggle " href="#" id="navbarDropdown" role="button"
                            data-bs-toggle="dropdown" aria-expanded="false">
                            About
                        </a>
                        <ul class="dropdown-menu mx-5 shadow " aria-labelledby="navbarDropdown">
                            <li><a class="dropdown-item " [routerLink]="['/about']" routerLinkActive="active"
                                    (click)="ToggleNavBar()">About
                                    Us</a></li>
                            <li>
                                <hr class="dropdown-divider">
                            </li>
                            <li><a class="dropdown-item " [routerLink]="['/member']" routerLinkActive="active"
                                    (click)="ToggleNavBar()">Member
                                    Corner</a>
                            </li>
                            <li>
                                <hr class="dropdown-divider">
                            </li>
                        </ul>
                    </li>
                    <li class="nav-item dropdown ">
                        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button"
                            data-bs-toggle="dropdown" aria-expanded="false">
                            Project
                        </a>
                        <ul class="dropdown-menu mx-5 shadow" aria-labelledby="navbarDropdown">
                            <li><a class="dropdown-item" [routerLink]="['/project-update']" routerLinkActive="active"
                                    (click)="ToggleNavBar()">Project Update</a></li>
                            <li>
                                <hr class="dropdown-divider">
                            </li>
                            <li><a class="dropdown-item" [routerLink]="['/product']" routerLinkActive="active"
                                    (click)="ToggleNavBar()">Product</a></li>
                            <li>
                                <hr class="dropdown-divider">
                            </li>

                        </ul>
                    </li>
                    <li class="nav-item ">
                        <a class="nav-link" aria-current="page" [routerLink]="['/media']" routerLinkActive="active"
                            (click)="ToggleNavBar()">Media</a>
                    </li>
                    <li class="nav-item dropdown ">
                        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button"
                            data-bs-toggle="dropdown" aria-expanded="false">
                            Contact
                        </a>
                        <ul class="dropdown-menu mx-5 shadow" aria-labelledby="navbarDropdown">
                            <li><a class="dropdown-item" [routerLink]="['/contact-us']" routerLinkActive="active"
                                    (click)="ToggleNavBar()">
                                    Contact
                                    Us</a></li>
                            <li>
                                <hr class="dropdown-divider">
                            </li>
                            <li><a class="dropdown-item" [routerLink]="['/engage-with-us']" routerLinkActive="active"
                                    (click)="ToggleNavBar()">Engage
                                    With Us</a></li>
                            <li>
                                <hr class="dropdown-divider">
                            </li>
                        </ul>
                    </li>
                </ul>
            </div>
            <a class="navbar-brand logo-2 me-5" href="#"><img src="/assets/brand_logo/logo_2.png" alt=""></a>
        </div>

    </nav>
</div>