/* project-at-glance */
.progress-at-glance {
	background-color: rgb(255, 232, 240);
}
.progress-at-glance .row {
	background-color: red;
	box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}
.progress-at-glance p {
	margin-top: 20px;
	color: rgba(255, 255, 255, 0.788);
	text-align: center;
	font-weight: bold;
}
.progress-at-glance h3 {
	color: red;
	font-size: 25px;
}

.first {
	font-size: 33px;
	color: #fff;
}
.row p.second {
	color: yellow;
	font-size: 33px;
}

/* project-at-glance end */

/* crop production */
.chart {
	background-color: whitesmoke;
	max-height: 370px;
}

#divChart {
	display: block;
	width: 500px;
	height: 600px;
	padding-left: 20px;
}
#divChart_1 {
	width: 260px;
	height: 250px;
	margin-left: 160px;
}
.chart .row {
	padding: 40px;
}
.chart h3 {
	font-weight: 500;
	text-transform: capitalize;
	color: red;
	font-size: 25px;
}

/* crop production end*/

/* bottom-sec */
.bottom-sec {
	background-color: rgb(255, 232, 240);
}
.bottom-sec h5 {
	color: red;
	font-size: 21px;
}
.underline_2 {
	height: 4px;
	width: 70px;
	background-color: red;
	border-radius: 20px;
	margin-top: -10px;
	transition: all 0.3s;
}
.bottom-sec p {
	color: rgb(119, 119, 119);
	font-size: 12px;
}
.bottom-sec img {
	transition: 2s all;
}
.bottom-sec img:hover {
	transform: scale(1.05);
}
.bottom-sec button {
	font-size: 12px;
	color: #fff;
	border: none;
}

/* bottom-sec end */

/* Responsive */
@media (max-width: 1200px) {
	#divChart {
		display: block;
		width: 400px;
		height: 500px;
	}
	#divChart_1 {
		width: 250px;
		height: 250px;
	}
}
@media (max-width: 992px) {
	#divChart_1 {
		width: 220px;
		height: 220px;
	}
	.chart {
		max-height: 300px;
	}
}

@media (max-width: 768px) {
	#divChart {
		display: block;
		width: 300px;
		height: 400px;
		margin-left: 0px;
	}
	#divChart_1 {
		width: 170px;
		height: 170px;
		margin-left: 100px;
	}
	.chart h3 {
		font-size: 27px;
	}
	.chart {
		max-height: 250px;
	}
}
@media (max-width: 576px) {
	#divChart {
		margin-left: -40px;
	}
	#divChart_1 {
		margin-left: 100px;
	}
	.chart h3 {
		font-size: 21px;
		margin-left: -40px;
	}
}
