<!-- progress at glance -->
<div class="progress-at-glance">
    <div class="container pt-3 pb-3">
        <h3>Progress at Glance</h3>

        <div class="row">

            <div class="col-lg-3 p-3 ">
                <p class="first">{{farmerMemberCount}}</p>
                <p>Farmer Member</p>

            </div>
            <div class="col-lg-3 p-3">
                <p class="second"> {{farmerMemberCount}}</p>
                <p>Average Under Cultivation</p>
            </div>
            <div class="col-lg-3 p-3">
                <p class="first">{{productCount}}</p>
                <p>DC3</p>
            </div>
            <div class="col-lg-3 p-3">
                <p class="second">{{productCount}}</p>
                <p>product</p>
            </div>

        </div>
    </div>
</div>
<!-- progress at glance  end-->

<!-- Crops Production -->

<div class="chart  mt-1 ">
    <div class="row">
        <div class="col-6 ">
            <h3>Crops Production</h3>
            <div id="divChart">
                <canvas id="myChart"></canvas>
            </div>
        </div>
        <div class="col-6">

            <div id="divChart_1">
                <canvas id="pieChart"></canvas>

            </div>
        </div>



    </div>

</div>
<!-- Crops Production end-->

<!-- bottom-sec -->
<div class="bottom-sec mt-1">
    <div class="container ">
        <div class="row pt-3">
            <div class="col-lg-3 col-md-3 col-sm-3">
                <img src="/assets/project update/procurement.png" alt="procurement">
            </div>
            <div class="col-lg-9 col-md-9 col-sm-9 mt-2">
                <h5>Procurement</h5>

                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aliquam aliquam, interdum ultrices sit.
                    Turpis iaculis lacus, tortor ut sagittis suscipit auctor ut. Praesent nunc, dui montes, sagittis sit
                    egestas gravida eget. Amet a in in enim duis fames id sagittis mi. Tellus tortor sed turpis
                    convallis nec lobortis id. Elit lectus sodales in vitae. Ac posuere gravida id egestas morbi nam mi
                    nulla. Nunc diam consectetur amet ut dapibus.Tellus tortor sed turpis
                    convallis nec lobortis id. Elit lectus sodales in vitae. Ac posuere gravida id egestas morbi nam mi
                    nulla. Nunc diam consectetur amet ut dapibus</p>
                <button class="btn-sm bg-danger">Read More</button>
            </div>

        </div>

        <div class="row pt-3">
            <div class="col-lg-9 col-md-9 col-sm-9 mt-2">
                <h5>Member Enrollment</h5>

                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aliquam aliquam, interdum ultrices sit.
                    Turpis iaculis lacus, tortor ut sagittis suscipit auctor ut. Praesent nunc, dui montes, sagittis sit
                    egestas gravida eget. Amet a in in enim duis fames id sagittis mi. Tellus tortor sed turpis
                    convallis nec lobortis id. Elit lectus sodales in vitae. Ac posuere gravida id egestas morbi nam mi
                    nulla. Nunc diam consectetur amet ut dapibus.Tellus tortor sed turpis
                    convallis nec lobortis id. Elit lectus sodales in vitae. Ac posuere gravida id egestas morbi nam mi
                    nulla. Nunc diam consectetur amet ut dapibus</p>
                <button class="btn-sm bg-danger">Read More</button>
            </div>
            <div class="col-lg-3  col-md-3 col-sm-3">
                <img src="/assets/project update/member-enrollment.png" alt="member-enrollment">
            </div>

        </div>

        <div class="row pt-3">
            <div class="col-lg-3  col-md-3 col-sm-3">
                <img src="/assets/project update/prod-and-services.png" alt="product & services">
            </div>
            <div class="col-lg-9 col-md-9 col-sm-9 mb-3">
                <h5>Process and Services </h5>

                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aliquam aliquam, interdum ultrices sit.
                    Turpis iaculis lacus, tortor ut sagittis suscipit auctor ut. Praesent nunc, dui montes, sagittis sit
                    egestas gravida eget. Amet a in in enim duis fames id sagittis mi. Tellus tortor sed turpis
                    convallis nec lobortis id. Elit lectus sodales in vitae. Ac posuere gravida id egestas morbi nam mi
                    nulla. Nunc diam consectetur amet ut dapibus.Tellus tortor sed turpis
                    convallis nec lobortis id. Elit lectus sodales in vitae. Ac posuere gravida id egestas morbi nam mi
                    nulla. Nunc diam consectetur amet ut dapibus</p>
                <button class="btn-sm bg-danger">Read More</button>
            </div>
        </div>
    </div>

</div>
<!-- bottom-sec-end -->