.engage-with-us {
	background: url(/assets/engage-wth-us/green-chameleon-s9CC2SKySJM-unsplash.jpg);
	background-repeat: no-repeat;
	background-size: cover;
}
.engage-with-us input,
select {
	border: none;
}

@media (max-width: 992px) {
	.images {
		margin-top: 10px;
	}
}
@media (max-width: 768px) {
	.images {
		height: 450px;
		margin-top: 80px;
	}
}
// internship
.internship {
	background: url(/assets/engage-wth-us/Student-Internship.jpg);
	background-repeat: no-repeat;
	background-size: cover;
}

// partnership
.partnership .card {
	border: none;
}
label .col-form-label {
	text-align: left !important;
}
// tender
.tender {
	background: url(/assets/engage-wth-us/tender.jpg);
	background-repeat: no-repeat;
	background-size: cover;
}
