<!-- Engage with us -->
<div class="engage-with-us">
    <div class="container">
        <div class="row">
            <div class="col-lg-6 col-md-12 mt-7">

                <h1 class=" text-white">Your Career</h1>
                <p class="paragraph-text text-white lead">Join our journey to create sustainable and inclusive rural
                    value
                    chains by combining traditional
                    wisdom with professional expertise</p>

            </div>
            <div class="col-lg-6 col-md-12 pt-7">
                <img class=" images" src="/assets/engage-wth-us/Hadoti_career.svg" alt="Career-jpg">
            </div>

        </div>
        <div class="container p-2 shadow background">
            <div class="row">
                <div class="col-lg-2 col-md-2 col-sm-9 my-1">
                    <input type="text" placeholder=" search" class="p-2 d-block w-100  rounded">
                </div>

                <div class="col-lg-2 col-md-4  col-sm-9 my-1">
                    <select name="All Ctegories" class="d-block w-100 p-2 rounded " id="category" form="categoryform">
                        <option value="all-categories ">Select all categories</option>
                        <option value="all-categories"></option>
                        <option value="all-categories"></option>
                        <option value="all-categories"></option>
                    </select>
                </div>
                <div class="col-lg-2 col-md-4 col-sm-9 my-1">
                    <select name="location" class="d-block w-100 p-2 rounded " id="location" form="locationform">
                        <option value="all-location">Select location</option>
                        <option value="all-location"></option>
                        <option value="all-location"></option>
                        <option value="all-location"></option>
                        <option value="all-location"></option>

                    </select>
                </div>
                <div class="col-lg-2 col-sm-9 my-1">
                    <button class="btn-sm bt mx-auto" id="btn-1">Find Job</button>
                </div>
            </div>

        </div>
    </div>

</div>

<!-- job opening -->
<div class="container">
    <div class="col-12">
        <h2 class="theme-color mt-3 ">Open Positions Description</h2>
        <p class="paragraph-text text-justify">Hadoti Mahila Kisan Producer Company Limited (Hadoti MKPCL), Kota-Baran
            (Rajasthan), a Producer Company being incubated by FDRVC and supported under National Rural Livelihoods
            Mission, is offering unique opportunities to those who have the passion to work with rural poor and are
            willing to take up the challenge to work for the small and marginal farmers.

        </p>
        <p class="paragraph-text text-justify">The Producer Company will be dealing in coriander, soybean and other
            agriculture produce involving procurement, processing and its bulk, retail packaging/consumer packs by
            investing in large scale processing units and marketing of the commodity and the value-added products. It is
            going to be working with a large farmer base and will have modern equipment for commodity handling and
            IT-based business processes. FDRVC has been retained by Hadoti MKPCL to hire for the position and requires
            qualified candidates for the following positions.

        </p>
    </div>
    <div class="col-12">
        <h3 class="theme-color">Open Position</h3>
        <ul class="ms-3">
            <li class="fw-bold mb-2">Advertisements <span><a class="theme-color ms-2"
                        href="/assets/about_us/Advertisement_Badayuni & Hadoti.pdf" target="_blank">click here
                    </a></span> </li>
            <li class="fw-bold mb-2">Chief Executive <span><a class="theme-color ms-2"
                        href="/assets/engage-wth-us/Advertisement -CEO (Rajasthan).pdf" target="_blank">click here
                    </a></span> </li>
            <li class="fw-bold mb-2">Plant Manager <span><a class="theme-color ms-2"
                        href="/assets/engage-wth-us/Job Description (a) Plant Manager (b) Assistant Manager (Plant-QC) (Rajasthan).pdf"
                        target="_blank">click here
                    </a></span></li>
            <li class="fw-bold mb-2">Assistant Manager- Plant & Quality Control (QC) <span><a class="theme-color ms-2"
                        href="/assets/engage-wth-us/Job Description (a) Plant Manager (b) Assistant Manager (Plant-QC) (Rajasthan).pdf"
                        target="_blank">click here
                    </a></span></li>
            <li class="fw-bold mb-2">Sales Manager/ Sales Executive <span><a class="theme-color ms-2"
                        href="/assets/engage-wth-us/Job Description- Sales Manager- Executive (Rajasthan).pdf"
                        target="_blank">click here
                    </a></span></li>
            <li class="fw-bold mb-2">Procurement Manager/Head <span><a class="theme-color ms-2"
                        href="/assets/engage-wth-us/Job Description- Procurement Head- Procurement Manager (PM) (Rajasthan).pdf"
                        target="_blank">click here
                    </a></span></li>
            <li class="fw-bold mb-2">Procurement Manager <span><a class="theme-color ms-2"
                        href="/assets/engage-wth-us/Procurement Manager - JD BadayunI & Hadoti MKPCL.pdf"
                        target="_blank">click here
                    </a></span></li>
            <li class="fw-bold mb-2">Procurement Area Officers <span><a class="theme-color ms-2"
                        href="/assets/engage-wth-us/JD_PAO_Badayuni MKPCL.pdf" target="_blank">click here
                    </a></span></li>
            <li class="fw-bold mb-2">Finance Executive/ Accountant <span><a class="theme-color ms-2"
                        href="/assets/engage-wth-us/PE JDs_Finance Executive - Badayuni MKPCL.pdf" target="_blank">click
                        here
                    </a></span></li>
        </ul>
        <a href="https://forms.gle/ikmHPBL2qgcyXHBM6" target="_blank" rel="noopener noreferrer"><button type="button"
                class="btn bt mt-2 mb-5">
                Apply Now</button></a>

    </div>
</div>

<!-- Internship -->
<div class="internship mt-5">
    <div class="container">
        <div class="col-12">
            <div class="box">
                <div class="col-lg-6 col-md-9 col-sm-12 py-5 text-white">
                    <h1 class="mb-1 ">Learn</h1>
                    <h4 class="">How to apply for an internship for the program</h4>
                    <h5 class="">{{internhip_para}}</h5>
                </div>
            </div>
        </div>

    </div>
</div>

<!-- apply form -->
<div class="form mb-5 background p-4">
    <div class="container text-center">
        <h4 class="theme-color">Upload your resume here</h4>
        <div class="col-12">
            <form action="">
                <input type="file" class="p-2  bg-white" id="exampleFormControlFile1" placeholder="">
                <button class="btn-sm  bt m-2 ">Apply Now</button>
            </form>
        </div>

    </div>
</div>

<!-- Tender search -->
<div class="tender-search">
    <div class="container">
        <div class="row">

            <div class="col-lg-3 col-md-6 col-sm-12 ">
                <h2 class="theme-color">Tender Search</h2>
                <select name="apply" class="p-2 d-block w-100 rounded option-bg" id="tender-type" form="tenderform">
                    <option value="tender-type">Tender Type</option>
                    <option value="tender"></option>
                </select>
                <div class="mt-2 mb-2">
                    <select name="apply" class="p-2 d-block w-100 rounded option-bg" id="field" form="tenderform">
                        <option value="field of experties">Field of experties</option>
                        <option value="tender"></option>
                    </select>
                </div>
                <div class="mt-2 mb-2">
                    <select name="apply" class="p-2 d-block w-100 rounded option-bg" id="region" form="tenderform">
                        <option value="apply ">applied for</option>
                        <option value="tender"></option>
                    </select>
                </div>
                <div class=" mt-2 mb-2">
                    <select name="apply" class="p-2 d-block w-100  rounded option-bg" id="region" form="tenderform">
                        <option value="region">Region</option>
                        <option value="tender"></option>
                    </select>
                </div>
                <div class="col-sm-12 mt-2 mb-2">
                    <select name="apply" class="p-2 d-block w-100 rounded option-bg" id="keyward" form="tenderform">
                        <option value="keyward">Keyword</option>
                        <option value="tender"></option>
                    </select>
                </div>

                <div class="row mb-2">
                    <h5 class="mt-2">Capture Date</h5>

                    <div class="col-lg-6 col-md-6 col-sm-6 ">
                        <select name="apply" class="p-2 d-block w-100 mb-2  rounded option-bg" id="to" form="applyform">
                            <option value="to">To</option>
                        </select>
                    </div>

                    <div class="col-lg-6 col-md-6 col-sm-6 ">
                        <select name="apply" class="p-2  d-block w-100 rounded option-bg" id="from" form="applyform">
                            <option value="from">From</option>
                        </select>
                    </div>

                </div>

                <div class="col-md-12 col-sm-12 mb-2">
                    <button class="btn-sm bt mb-2">Search</button>
                </div>

            </div>

            <div class="col-lg-9 col-md-12 my-5">
                <div class=" d-block w-100 p-5 tender">
                    <div class="col-lg-9 col-md-12 col-sm-12 ">
                        <h1 class="title text-white">Details of available tenders

                        </h1>
                        <h4 class="text-white fs-5">{{tenderList}}</h4>
                    </div>

                    <div class="row">
                        <div class="col-6">

                            <!-- Button trigger modal -->
                            <button type="button" class="btn-sm bt ms-2 mb-3" data-bs-toggle="modal"
                                data-bs-target="#exampleModal">
                                Advertisement
                            </button>

                            <!-- Modal -->
                            <div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel"
                                aria-hidden="true">
                                <div class="modal-dialog">
                                    <div class="modal-content">
                                        <div class="modal-header">
                                            <button type="button" class="btn-close theme-color " data-bs-dismiss="modal"
                                                aria-label="Close"></button>
                                        </div>
                                        <div class="modal-body">
                                            <img src="/assets/engage-wth-us/Hadoti Advertisement.jpeg" alt="">
                                        </div>

                                    </div>
                                </div>
                            </div>

                        </div>

                    </div>
                </div>
            </div>
        </div>
    </div>

    <!-- partnership -->

    <div class="partnership background py-5">
        <h1 class="header-text text-center py-3 "> Our Partners </h1>
        <div class="container">
            <p-carousel [value]="partner" [numVisible]="2" [numScroll]="2" [circular]="false" [autoplayInterval]="4000"
                [responsiveOptions]="responsiveOptions">
                <ng-template let-partner pTemplate="item">
                    <img [src]="partner.image" alt="Partner-jpg" class="d-block  mx-auto" height="200">

                </ng-template>
            </p-carousel>
        </div>

        <div class="container py-5">
            <div class="row">
                <div *ngFor="let data of partnershipData" class="col-lg-6 col-md-12 col-sm-12">
                    <div class=" text-center">
                        <div class="card  shadow p-2">
                            <h2 class="theme-color pt-5 text-center">{{data.card_title}}</h2>
                            <img [src]="data.image" class="w-50 mx-auto mb-5" alt="Partnership">

                        </div>
                        <button type="button" class="btn bt mt-2 mb-5" data-bs-toggle="modal"
                            data-bs-target="#exampleModal" data-bs-whatever="@mdo">Connect with us</button>
                    </div>
                    <div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel"
                        aria-hidden="true">
                        <div class="modal-dialog">
                            <div class="modal-content">
                                <div class="modal-header">
                                    <h5 class="modal-title" id="exampleModalLabel">Fill your details here..</h5>
                                    <button type="button" class="btn-close" data-bs-dismiss="modal"
                                        aria-label="Close"></button>
                                </div>
                                <div class="modal-body">
                                    <form>
                                        <div class="mb-2">
                                            <label for="recipient-name" class="col-form-label">Enter your
                                                Name
                                                here</label>
                                            <input type="text" class="form-control" id="recipient-name"
                                                placeholder="Full Name">
                                        </div>
                                        <div class="mb-2">
                                            <label for="recipient-name" class="col-form-label">Enter your E-mail
                                                address
                                            </label>
                                            <input type="text" class="form-control" id="recipient-name"
                                                placeholder="E-mail address">
                                        </div>
                                        <div class="mb-2">
                                            <label for="recipient-name" class="me-auto col-form-label ">Enter your
                                                Mobile
                                                Number
                                            </label>
                                            <input type="number" class="form-control" id="recipient-name"
                                                placeholder="Mobile Number">
                                        </div>
                                        <div class="mb-2">
                                            <label for="message-text" class="col-form-label">Topic</label>
                                            <textarea class="form-control" id="message-text"></textarea>
                                        </div>
                                    </form>
                                </div>
                                <div class="modal-footer">
                                    <button type="button" class="p-1 shadow btn-danger" data-bs-dismiss="modal"
                                        style="border:none;">Close</button>
                                    <button type="button" class="p-1 shadow  btn-success" style="border:none;">Submit
                                    </button>
                                </div>
                            </div>
                        </div>
                    </div>

                </div>
                <div class="col-lg-6 col-md-12 col-sm-12">
                    <h5 class="theme-color">Partner with Hadoti MKPCL for engagement with our project on
                        strengthening women
                        farmer producer of
                        Rajasthan on the following :-</h5>
                    <ol>
                        <li class="mb-3"> Sourcing of Agri Commodity</li>
                        <li class="mb-3"> Technology Solutions for Farmers</li>
                        <li class="mb-3"> Marketing of Agri Produce</li>
                        <li class="mb-3">Supply of Agri Input Products and Services
                        </li>
                        <li class="mb-3"> Partner with us for socio-Impact project</li>
                        <li class="mb-3"> Training and capacity building of the producers</li>
                    </ol>
                </div>

            </div>
        </div>