<!-- Engage with us -->

<div class="engage-with-us">
    <div class="container-fluid">
        <div class="background-img">
            <div class="row">
                <div class="col-6">
                    <h6>Think outside the box</h6>
                    <h4>Evolve Your<br>Career</h4>
                    <p class="paragraph-text" style="color: #ff2666;">Lorem ipsum dolor sit amet, consectetur adipiscing
                        elit.<br> Eget vitae
                        egestas sed posuere
                        lorem.
                    </p>
                    <button class="btn-sm bt">Leran More</button>
                </div>
                <div class="col-6 ">
                    <img src="/assets/engage-wth-us/1327679_Wallpaper2 1.png" alt="">
                </div>

            </div>
            <div class="container info ">
                <div class="row mx-auto ">


                    <div class="col-lg-3 col-md-6 col-sm-6 mt-2 ">

                        <input type="text" placeholder="search">
                    </div>

                    <div class="col-lg-3 col-md-6 col-sm-6 mt-2">
                        <select name="All Ctegories" class="engage" id="category" form="categoryform">
                            <option value="all-categories ">Select all categories</option>
                            <option value="all-categories"></option>
                            <option value="all-categories"></option>
                            <option value="all-categories"></option>
                        </select>
                    </div>
                    <div class="col-lg-3 col-md-6 col-sm-6 mt-2">
                        <select name="location" class="engage" id="location" form="locationform">
                            <option value="all-location">Select location</option>
                            <option value="all-location"></option>
                            <option value="all-location"></option>
                            <option value="all-location"></option>
                            <option value="all-location"></option>

                        </select>
                    </div>
                    <div class="col-3 mt-2">
                        <button class="btn-sm bt" id="btn-1">Find Job</button>
                    </div>
                </div>

            </div>
        </div>
    </div>
</div>

<!-- Internship -->
<div class="internship">
    <div class="container-fluid">
        <div class="row">
            <div class="col-12">

                <div class="box">
                    <div class="col-lg-4 col-md-6 col-sm-6 pt-3 offset-2">
                        <h4 class="mt-5">Learn</h4>
                        <h5>How to apply for internhip for program</h5>
                        <p class="paragraph-text">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Congue mollis
                            convallis ipsu risus
                            etiam sit ac. Consectetur<br> laoreet mauris condimentum lorem enim arcu scelerisque quis
                            nulla.
                        </p>
                        <button class="btn-sm bt">Learn More</button>
                    </div>
                </div>
            </div>
        </div>
        <div class="row mx-auto">
            <div class="why-prg">
                <div class="col-lg-6 col-md-9 col-sm-12 mx-auto mt-3">
                    <h3 class="subtitle-text">Why internship program?</h3>
                    <p class="paragraph-text">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Hendrerit
                        adipiscing luctus est, proin
                        pellentesque facilisi ullamcorper. Vestibulum lorem amet et, quam pharetra cursus.</p>
                </div>
            </div>
        </div>
    </div>
</div>

<!-- apply form -->
<div class="form mb-3 bg-light">
    <div class="container-fluid">

        <div class="row">
            <div class="col-12 mt-3">
                <h3 class="subtitle-text">Enter Your Name here</h3>
            </div>

            <div class="col-lg-4 col-md-4 col-sm-9 mt-2 ">
                <input type="text" placeholder="Enter your name here..">

            </div>

            <div class="col-lg-4 col-md-4 col-sm-9 mt-2">
                <select name="education" class="apply-form" id="education" form="educationform">
                    <option value="Education">Educational Qualification</option>
                    <option value="Education"></option>
                    <option value="Education"></option>
                    <option value="Education"></option>
                </select>
            </div>

            <div class="col-lg-4 col-md-4 col-sm-9 mt-2">
                <select name="city" class="apply-form" id="city" form="cityform">
                    <option value="city ">City</option>
                    <option value="city"></option>
                    <option value="city"></option>
                    <option value="city"></option>
                </select>
            </div>

        </div>

        <div class="row">
            <div class="col-lg-4 col-md-4 col-sm-9  mt-2 ">
                <input type="email" placeholder="E-mail">
            </div>

            <div class="col-lg-4 col-md-4 col-sm-9 mt-2">
                <select name="mobile" class="apply-form" id="mobile" form="mobileform">
                    <option value="number ">+91</option>
                    <option value="number"></option>
                    <option value="number"></option>
                    <option value="number"></option>

                </select>
                <input type="number" class="apply-form" id="number" placeholder="xxxx-xxxx">
            </div>

            <div class="col-lg-4 col-md-4 col-sm-9 mt-2">
                <select name="apply" class="apply-form" id="apply" form="applyform">
                    <option value="apply ">applied for</option>
                    <option value="apply"></option>
                    <option value="apply"></option>
                    <option value="apply"></option>
                </select>
            </div>

        </div>

        <div class="row ">
            <div class="col-lg-3 col-md-3 col-sm-3">
                <button class="btn-sm bt mt-2 mb-3 ">Apply Now</button>
            </div>
        </div>

    </div>
</div>

<!-- Tender search -->
<div class="tender-search">
    <div class="container-fluid">
        <div class="row m-3 ">
            <h3 class="subtitle-text">Tender Search</h3>
            <div class="col-3">
                <select name="apply" class="tender" id="tender-type" form="tenderform">
                    <option value="tender-type ">Tender Type</option>
                    <option value="tender"></option>
                </select>
                <div class="col-3 mt-3 mb-2">
                    <select name="apply" class="tender" id="field" form="tenderform">
                        <option value="field of experties">Field of experties</option>
                        <option value="tender"></option>
                    </select>
                </div>
                <div class="col-3 mt-3 mb-2">
                    <select name="apply" class="tender" id="region" form="tenderform">
                        <option value="apply ">applied for</option>
                        <option value="tender"></option>
                    </select>
                </div>
                <div class="col-3 mt-3 mb-2">
                    <select name="apply" class="tender" id="region" form="tenderform">
                        <option value="region">Region</option>
                        <option value="tender"></option>
                    </select>
                </div>
                <div class="col-3 mt-3 mb-2">
                    <select name="apply" class="tender" id="keyward" form="tenderform">
                        <option value="keyward">Keyward</option>
                        <option value="tender"></option>
                    </select>
                </div>

                <div class="row mb-3">
                    <h5 class="mt-2">Capture Date</h5>

                    <div class="col-lg-3 col-md-6 col-sm-6 ">
                        <select name="apply" class="tender" id="to" form="applyform">
                            <option value="to">To</option>
                        </select>
                    </div>

                    <div class="col-lg-3 col-md-6 col-sm-6 ">
                        <select name="apply" class="tender" id="from" form="applyform">
                            <option value="from">From</option>
                        </select>
                    </div>

                </div>

                <div class="col-lg-6 col-md-9 col-sm-9 mb-3">
                    <button class="btn-sm bt">Search Now</button>
                </div>

            </div>

            <div class="col-9 tender-rt mt-3">
                <div class="t_bg">

                    <div class="col-lg-9 col-md-12 col-sm-12">
                        <h1 class="header-text mb-3">List, Search and With Tenders</h1>
                        <p class="paragraph-text" style="color: #fff;">Lorem ipsum dolor sit amet, consectetur
                            adipiscing elit. Massa egestas
                            laoreet massa
                            duis
                            aliquam.</p>
                        <p class="paragraph-text" style="color: #fff;">Lorem ipsum dolor sit amet, consectetur
                            adipiscing elit. Massa egestas
                            laoreet massa duis
                            aliquam.</p>
                    </div>

                    <div class="row">
                        <div class="col-lg-3 col-md-3 col-sm-3 ">
                            <a href="">
                                <h4>Lorem Ipsum</h4>
                            </a>
                            <a href="">
                                <h6>Lorem Ipsum</h6>
                            </a>
                        </div>
                        <div class="col-lg-3 col-md-3 col-sm-3 ">
                            <a href="">
                                <h4>Lorem Ipsum</h4>
                            </a>
                            <a href="">
                                <h6>Lorem Ipsum</h6>
                            </a>
                        </div>
                        <div class="col-lg-3 col-md-3 col-sm-3 ">
                            <a href="">
                                <h4>Lorem Ipsum</h4>
                            </a>
                            <a href="">
                                <h6>Lorem Ipsum</h6>
                            </a>
                        </div>



                    </div>

                </div>


            </div>


        </div>
    </div>
</div>

<!-- partnership -->
<div class="partnership">
    <div class="container-fluid">
        <div class="row">

            <div *ngFor="let data of partnershipData" class="col-lg-4 col-md-4 col-sm-3 mx-auto">
                <div class="col">
                    <div class="card">
                        <h3 class="mx-auto mt-3 subtitle-text">{{data.card_title}}</h3>
                        <img class="mx-auto" [src]="data.image" alt="...">
                        <p class="paragraph-text p-2 text-center">{{data.card_para}}</p>
                    </div>
                    <button class="btn-sm bt mt-3 mx-auto">Explore Now</button>
                </div>
            </div>
        </div>
    </div>