<!-- top -->
<div class="top-sec mb-3">
    <div class="container">
        <div class="row">
            <div class="col-lg-6 col-md-12 p-3">
                <img src="/assets/member/Group 272.png" class="img-thumbnail bg-white p-3" alt="Responsive image">
            </div>
            <div *ngFor="let data of groupList" class="col-lg-6 col-md-12 p-3">
                <ul class="list-group">
                    <a href="">
                        <li class=" mb-3 list-group-item">{{data.list_title}}</li>
                    </a>
                    <a href="">
                        <li class=" mb-3 list-group-item">{{data.list_title}}</li>
                    </a>
                    <a href="">
                        <li class=" mb-3 list-group-item">{{data.list_title}}</li>
                    </a>
                    <a href="">
                        <li class=" mb-3 list-group-item">{{data.list_title}}</li>
                    </a>
                    <a href="">
                        <li class=" mb-3 list-group-item">{{data.list_title}}</li>
                    </a>
                    <a href="">
                        <li class=" mb-3 list-group-item">{{data.list_title}}</li>
                    </a>
                    <a href="">
                        <li class=" mb-3 list-group-item">{{data.list_title}}</li>
                    </a>
                    <a href="">
                        <li class=" mb-3 list-group-item">{{data.list_title}}</li>
                    </a>
                    <a href="">
                        <li class=" mb-3 list-group-item">{{data.list_title}}</li>
                    </a>
                </ul>
            </div>
        </div>
    </div>
</div>

<!-- midle-first -->
<section id="faqs">
    <div class="container mb-3 ">
        <div class="row">
            <div class="col-lg-8 offset-lg-2">
                <h1 class="header-text mt-3" style="text-transform: uppercase;">Frequently Asked Questions (FAQ)</h1>
                <div class="accordion accordion-flush" id="accordionFlushExample">
                    <div class="accordion-item">
                        <h2 class="accordion-header" id="flush-headingOne">
                            <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
                                data-bs-target="#flush-collapseOne" aria-expanded="false"
                                aria-controls="flush-collapseOne">
                                Accordion Item #1
                            </button>
                        </h2>
                        <div id="flush-collapseOne" class="accordion-collapse collapse"
                            aria-labelledby="flush-headingOne" data-bs-parent="#accordionFlushExample">
                            <div class="accordion-body">Placeholder content for this accordion, which is intended to
                                demonstrate the <code>.accordion-flush</code> class. This is the first item's accordion
                                body.</div>
                        </div>
                    </div>
                    <div class="accordion-item">
                        <h2 class="accordion-header" id="flush-headingTwo">
                            <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
                                data-bs-target="#flush-collapseTwo" aria-expanded="false"
                                aria-controls="flush-collapseTwo">
                                Accordion Item #2
                            </button>
                        </h2>
                        <div id="flush-collapseTwo" class="accordion-collapse collapse"
                            aria-labelledby="flush-headingTwo" data-bs-parent="#accordionFlushExample">
                            <div class="accordion-body">Placeholder content for this accordion, which is intended to
                                demonstrate the <code>.accordion-flush</code> class. This is the second item's accordion
                                body. Let's imagine this being filled with some actual content.</div>
                        </div>
                    </div>
                    <div class="accordion-item">
                        <h2 class="accordion-header" id="flush-headingThree">
                            <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
                                data-bs-target="#flush-collapseThree" aria-expanded="false"
                                aria-controls="flush-collapseThree">
                                Accordion Item #3
                            </button>
                        </h2>
                        <div id="flush-collapseThree" class="accordion-collapse collapse"
                            aria-labelledby="flush-headingThree" data-bs-parent="#accordionFlushExample">
                            <div class="accordion-body">Placeholder content for this accordion, which is intended to
                                demonstrate the <code>.accordion-flush</code> class. This is the third item's accordion
                                body. Nothing more exciting happening here in terms of content, but just filling up the
                                space to make it look, at least at first glance, a bit more representative of how this
                                would
                                look in a real-world application.</div>
                        </div>
                    </div>
                </div>


            </div>
        </div>
    </div>
</section>

<!-- midle-second -->
<div class="midle p-3 mb-3">
    <div class="container">
        <div class="row">
            <h1 class="header-text">Download Resources</h1>
            <div class="col-9">
                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Diam fermentum, ut elementum tellus quisque.
                    Euismod nulla sit pellentesque semper scelerisque ridiculus nunc nullam enim. Pellentesque amet
                    mauris lorem pretium enim est mauris.</p>
            </div>
            <div class="col-3">
                <a href=""><span class="download"> <i class="fas fa-download"></i></span></a>
            </div>
        </div>
    </div>

</div>

<!-- bottom -->
<div class="container mb-3">
    <div class="row">
        <h1 class="header-text">Grivances Redressal</h1>

        <div class="col-lg-4 col-md-6 col-sm-12 mx-auto p-3">
            <img src="/assets/member/grivances.png" class="img-thumbnail"
                style="background-color: transparent;border: none; height: 200px;" alt="Responsive image">
            <div class="box">
                <a href="">
                    <h3 class="text-center subtitle-text p-3">Complain
                        Registration</h3>
                </a>
                <ol class="list-group text-center">
                    <a href="">
                        <li class="sm-box mb-1">Lorem Ipsum</li>
                    </a>
                    <a href="">
                        <li class="sm-box mb-1">Lorem Ipsum</li>
                    </a>
                    <a href="">
                        <li class="sm-box mb-1">Lorem Ipsum</li>
                    </a>
                    <a href="">
                        <li class="sm-box mb-1">Lorem Ipsum</li>
                    </a>
                </ol>

            </div>
        </div>
        <div class="col-lg-4  col-md-6 col-sm-12 mx-auto p-3">
            <img src="/assets/member/grivances.png" class="img-thumbnail"
                style="background-color: transparent;border: none;height: 200px;" alt="Responsive image">
            <div class="box">
                <a href="">
                    <h3 class="text-center subtitle-text p-3">Complain
                        Resolution</h3>
                </a>
                <ol class="list-group text-center">
                    <a href="">
                        <li class="sm-box mb-1">Lorem Ipsum</li>
                    </a>
                    <a href="">
                        <li class="sm-box mb-1">Lorem Ipsum</li>
                    </a>
                    <a href="">
                        <li class="sm-box mb-1">Lorem Ipsum</li>
                    </a>
                    <a href="">
                        <li class="sm-box mb-1">Lorem Ipsum</li>
                    </a>
                </ol>
            </div>
        </div>
        <div class="col-lg-4 col-md-6 col-sm-12  mx-auto p-3">
            <img src="/assets/member/grivances.png" class="img-thumbnail"
                style="background-color: transparent;border: none;height: 200px;" alt="Responsive image">
            <div class="box">
                <a href="">
                    <h3 class="text-center subtitle-text p-3">Complain
                        Closure</h3>
                </a>
                <ol class="list-group text-center">
                    <a href="">
                        <li class="sm-box mb-1">Lorem Ipsum</li>
                    </a>
                    <a href="">
                        <li class="sm-box mb-1">Lorem Ipsum</li>
                    </a>
                    <a href="">
                        <li class="sm-box mb-1">Lorem Ipsum</li>
                    </a>
                    <a href="">
                        <li class="sm-box mb-1">Lorem Ipsum</li>
                    </a>
                </ol>
            </div>
        </div>

    </div>
</div>