<div class="container my-5">
    <div class="col-12">
        <h1 class="mt-5 text-center  header-text">Hadoti MKPCL Welcomes You!</h1>
        <p class="  mt-3 text-center paragraph-text">
            The Producer Company(PC) plans to cover 18,346 farmers in 3 years in selected region. The PC operations
            will be
            implemented in 433 villages in the Hadoti region of Rajasthan. The villages identified are predominantly of
            those where SHG groups are active. It will set up digital commodity collection centres in the selected
            villages. The digital commodity Collection
            centers or D3C will be equipped with ERP enabled modern weighing machines, cleaners, quality testing
            infrastructure to ensure fair and transparent system for transactions with producer members. It aims to
            empower its shareholder’s by increasing their standard of living on financial, economic and social aspects.
        </p>
    </div>
</div>