<div class=" container col-lg-12 col-md-12 col-sm-12 mb-3 mt-3">

    <div class="intro">
        <h1 class="header-text text-center mt-3">महिला किसान उत्पादक निर्माता कंपनी में आपका स्वागत ह</h1>

        <p class="paragraph-text text-center mt-3 mb-3">लोरेम इप्सम डोलर सिट एमेट, कॉन्सेक्टेटूर एडिपिसिसिंग एलीट। डायम
            वेस्टिबुलम
            फॉसीबस
            ब्लैंडिट सस्पेंडिस
            यूटी।
            एमेट वेल इप्सम फैसिलिसिस इंटरडम एडिपिसिंग लिबरो विटे सिट। फ्रिंजिला लोबोर्टिस टॉर्चर एजेस्टास सिट एनिम
            नन्क। टिनसीडंट सेम्पर एक्यूमसन वल्पुटेट सेड प्लेसरेट नॉन एमेट मासा। नुलम डायम क्विस एलिमेंटम आईडी क्विस डोलर
            नॉन।टिनसीडंट सेम्पर एक्यूमसन वल्पुटेट सेड प्लेसरेट नॉन एमेट मासा। नुलम डायम क्विस एलिमेंटम आईडी क्विस

            डोलर नॉन।</p>
    </div>
</div>