.container {
	margin-top: 50px;
}

.intro h1 {
	text-align: center;
	color: #ef4e58;
	font-size: 27px;
	font-weight: 500;
}

.into p {
	text-align: center;
	color: rgb(71, 71, 71);
	font-weight: 300;
}
