<div class="container">
  <div class="row" >
    <div class="col-lg-3 col-md-6 col-sm-12" *ngFor="let data of pageData">
      <div class="card text-center mx-auto shadow">
        <img [src]="data?.media" class="card-img-top mx-auto" />
        <div class="card-body">
          <div [ngClass]="{'limitTextHeight': isReadMore}">
            <h5 class="card-title subtitle-text">{{data?.title}}</h5>
            <p *ngIf="showLess" class="card-text paragraph-text mt-3">{{data?.description | slice:0:80 }}
              <span *ngIf="data.description.length>150">
                ...
              </span>
            </p>
            <p *ngIf="!showLess" class="card-text paragraph-text mt-3">{{data?.description }}

            </p>
          </div>
          <span class=" theme-color" (click)="showText()"> {{ isReadMore ? 'Read More': 'Read
            Less' }} </span>
        </div>
      </div>
    </div>
  </div>
</div>
