<div class="midle p-3 mt-5">
    <div class="container">
        <hr class="my-custom-hr">
        <div class="row">
            <!-- Left Half -->
            <div class="col-md-6 text-center pt-4">
                <h2 class="header-text text-center">Mandatory Disclosures</h2>
                <p>Hadoti Mahila Kisan Producer Company Limited</p>
                <p>Bambori Road, Anta, Baran, Rajasthan - 325202</p>
                <p>CIN : <strong> U01112RJ2020PTC070991</strong> </p>
                <!-- Make the email address clickable -->
                <p><a href="mailto:contact@hadotifpc.in"><strong>contact@hadotifpc.in</strong></a></p>
                <p>Mob No - <a href="tel:9547987600"><strong>9547987600</strong></a></p>
            </div>

            <!-- Right Half -->
            <div class="col-md-6 text-center  pt-4">
                <h2 class="header-text text-center">Grievances Redressal</h2>
                <p>For Grievance readdressed contact the following</p>
                <!-- Make the email addresses clickable -->
                <p><a href="mailto:ceo@hadotifpc.in"><strong>ceo@hadotifpc.in</strong></a></p>
                <p><a href="mailto:finance@hadotifpc.in"><strong>finance@hadotifpc.in</strong></a></p>
                <p><a href="mailto:contact@fdrvc.in"><strong>contact@fdrvc.in</strong></a></p>
                <p>Mob No - <a href="tel:9547987600"><strong>9547987600</strong></a></p>
            </div>
        </div>
    </div>
</div>