<!-- Product -->
<div class="container mb-3">
    <h1 class="text-center header-text"> Product</h1>
    <div class="row text-center">

        <div class="col-12">
            <p>
                <a class="btn fw-bold hower" data-bs-toggle="collapse" href="#collapseExample" role="button"
                    aria-expanded="false" aria-controls="collapseExample">

                </a>
                <a class="btn fw-bold hower" data-bs-toggle="collapse.show" href="#collapseExample1" role="button"
                    aria-expanded="false" aria-controls="collapseExample">

                </a>
                <button class="btn fw-bold hower me-2" type="button" data-bs-toggle="collapse.show"
                    data-bs-target="#collapseExample1" aria-expanded="false" aria-controls="collapseExample">
                    Bulk Unit
                </button>
                <button class="btn fw-bold hower" type="button" data-bs-toggle="collapse"
                    data-bs-target="#collapseExample" aria-expanded="false" aria-controls="collapseExample">
                    Consumer Pack
                </button>
            </p>
            <div class="collapse.show" id="collapseExample1">
                <div class="card card-body" style="border: none;">
                    <div class="row text-center">
                        <div *ngFor="let data of productItem" class="col-lg-3 col-md-6 col-sm-6">
                            <div class="card c-size mx-auto border border-danger background p-3 m-3 shadow ">
                                <img class="card-img-top prod-img mx-auto" [src]="data.img" alt="product-Image">
                                <div class="card-body bg-white">

                                    <h5 class="card-title subtitle-text ">{{ data.title1}}</h5>


                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="collapse" id="collapseExample">
                <div class="card card-body" style="border: none;">
                    <div class="row text-center">
                        <div *ngFor="let data of productItem1" class="col-lg-3 col-md-6 col-sm-6 ">
                            <div class="card c-size mx-auto border border-danger background p-3 m-3 shadow">
                                <img class="card-img-top  prod-img mx-auto" [src]="data.img" alt="product-Image">
                                <div class="card-body bg-white">

                                    <h5 class="card-title subtitle-text ">{{ data.title1}}</h5>


                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>


</div>

<!-- product enquire -->

<div class="container mt-5">
    <div class="row">
        <h1 class="text-center header-text"> Product Enquire</h1>
    </div>
</div>
<div class="container-fluid background mt-3">
    <div class="container">
        <div class="row">
            <div class="col-lg-6 col-sm-12">
                <form action="">
                    <div class="mb-1">
                        <label for="exampleFormControlTextarea1" class="form-label"></label>
                        <textarea class="form-control" id="exampleFormControlTextarea1" placeholder="Enquire Here.."
                            rows="8"></textarea>
                    </div>
                    <div class="mb-1">
                        <label for="exampleFormControlInput1" class="form-label"></label>
                        <input type="text" class="form-control" id="exampleFormControlInput1" placeholder="Name"
                            rows="3">
                    </div>
                    <div class="mb-1">
                        <label for="exampleFormControlInput1" class="form-label"></label>
                        <input type="number" class="form-control" id="exampleFormControlInput1"
                            placeholder="Mobile Number" rows="3">
                    </div>
                    <div class="mb-3">
                        <label for="exampleFormControlInput1" class="form-label"></label>
                        <input type="email" class="form-control" id="exampleFormControlInput1"
                            placeholder="Email Address" rows="3">
                    </div>
                    <div class="mb-5">
                        <button type="submit" class=" btn-sm  bt mb-3">Submit</button>
                    </div>
                </form>
            </div>
            <div class="col-lg-6 col-md-12 col-sm-12 mt-3 mx-auto">

                <h3 class="subtitle-text">Let's work together</h3>
                <ul class="list-group ">
                    <div [ngClass]="{'limitTextHeight':isReadMore}">

                        <div *ngIf="showLess" class="paragraph-text">
                            <li class="ms-3">
                                <p class="">PC would be marketing its products via professionals to all possible
                                    channels
                                    it can develop. Apart from own direct selling, it will be supported by
                                    brokers/commission agent. Below mentioned channels will be used to sell products of
                                    PC.
                                </p>
                            </li>

                            <li class="ms-3">
                                <p class=""><strong>Large Companies:-</strong> Various MNCs like -Cargill, MDH will be
                                    sold products in
                                    standard packets as desired in bulk. MDH, Catch, Everest etc can use facility of PC
                                    to
                                    be packed in their own brand.
                                </p>
                            </li>
                            <li class="ms-3">
                                <p class=""><strong>SME:</strong> - Various small and medium scaled industries has been
                                    approached
                                    ensuring to buy produce at prevailing market rate. They further guided to buy
                                    cleaned
                                    and moisture- controlled commodity to ensure long life of commodities and losses
                                    incurred due to moisture condition.
                                </p>
                            </li>
                        </div>

                        <div *ngIf="!showLess" class="paragraph-text">
                            <li class="ms-3">
                                <p class=""><strong>SME:</strong> - Various small and medium scaled industries has been
                                    approached
                                    ensuring to buy produce at prevailing market rate. They further guided to buy
                                    cleaned
                                    and moisture- controlled commodity to ensure long life of commodities and losses
                                    incurred due to moisture condition.
                                </p>
                            </li>
                            <li class="ms-3">
                                <p class=""><strong>Export:-</strong>Large quantity of Soya-meal is exported
                                    internationally
                                    which will be explored to play on quality basis.
                                </p>
                            </li>
                            <li class="ms-3">
                                <p class=""><strong>Collaboration with Modern sales channel:-</strong> Modern sales
                                    channel
                                    can be used to
                                    sell the products directly to Consumers.
                                </p>
                            </li>
                            <li class="ms-3">
                                <p class=""><strong>Institutional Sales:-</strong> As institutions like -catering
                                    services,
                                    five-star
                                    chains, hospitals, government institutions etc who are highly concerned for quality
                                    will
                                    be ready to pay even premium for high grade hygienic quality.
                                </p>
                            </li>
                            <li class="ms-3">
                                <p class=""><strong> Government Institutions:-</strong> Government institutions, defence
                                    bulk order will
                                    further add to countless list market players available to PC.
                                </p>
                            </li>
                            <li class="ms-3">
                                <p class=""><strong>Cattle Feed Industry:-</strong> Large Cattle feed industry will be
                                    of
                                    bulk buyers of Soya-meal.

                                </p>
                            </li>
                            <p>Collaborate with us in case you want to source commodity from us.</p>
                        </div>

                        <button class=" btn-sm bt mb-3" type='button' (click)='showText()'>{{isReadMore?'Read
                            More':'Read
                            Less'}}</button>
                    </div>
                </ul>

            </div>

        </div>
    </div>
</div>