.prod-img {
	height: 200px;
	width: 270px;
}
.btn-check:focus + .btn,
.btn:focus {
	outline: 0;
	box-shadow: 0 0 0 0.10rem red !important;
}
.hower {
	margin-left: -20px;
}
.hower:hover {
	color: red;
	text-decoration: underline;
}
.c-size {
	transition: all 1s;
}
.c-size:hover {
	transform: scale(1.05);
}

// * market linkage */

.txt-dec {
	color: grey;
	font-size: 16px;
	text-decoration: underline;
}
.card h3 {
	text-decoration: underline;
}
.card p {
	font-size: 14px;
}
