/* You can add global styles to this file, and also import other style files */
@import 'https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500;700&display=swap';

* {
	padding: 0px;
	margin: 0px;
}
img {
	max-width: 100%;
}
a {
	text-decoration: none;
}
ul {
	padding-left: 0px;
}
a:hover,
a:focus {
	text-decoration: none;
	outline: none;
}
.KrutiDev_hindi_text {
	font-family: Kruti Dev !important;
}

html,
body {
	height: 100%;
}

body {
	margin: 0;
	font-family: "Roboto", "Helvetica Neue", sans-serif;
}

.header-text {
	color: #ef4e58;
	text-transform: capitalize;
}

.subtitle-text {
	color: #ef4e58;
	text-transform: capitalize;
}

.paragraph-text {
	color: rgb(49, 49, 49);
	line-height: 1.375em;
}

.bt {
	background-color: #ef4e58;
	font-size: 1.1rem !important;
	color: #fff;
	border: none;
	border-radius: 0px !important;
	box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}

.theme-color {
	color: #ef4e58;
}
.background {
	background-color: #ffe7f0;
}
.preline{
  white-space: pre-line !important;
}
