/* You can add global styles to this file, and also import other style files */
@import 'https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500;700&display=swap';

* {
	padding: 0px;
	margin: 0px;
}
img {
	max-width: 100%;
}
a {
	text-decoration: none;
}
ul {
	padding-left: 0px;
}
a:hover,
a:focus {
	text-decoration: none;
	outline: none;
}
/* ::-webkit-scrollbar {
	display: none;
} */

html,
body {
	height: 100%;
}
body {
	margin: 0;
	font-family: "Roboto", "Helvetica Neue", sans-serif;
}

.header-text {
	color: #ff2666;
	font-size: 27px;
	word-spacing: 5px;
	text-transform: capitalize;
}
.subtitle-text {
	color: #ff2666;
	font-size: 21px;
	word-spacing: 2px;
	text-transform: capitalize;
}

.paragraph-text {
	color: rgb(49, 49, 49);
	font-size: 12px;
	line-height: 18px;
}
.bt {
	font-size: 12px;
	background-color: #ff2666;
	color: #fff;
	border: none;
	box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}
