<p>core-detail works!</p>
<div *ngFor="let core of contentData;">
  <div *ngFor="let sectionData of core.core_page">

    <ng-container *ngIf="sectionData.component_type == 'slider'">
      <app-full-slider [item]="sectionData" ></app-full-slider>
    </ng-container>

    <ng-container *ngIf="sectionData.component_type == 'left_card' ">
      <app-component-left-end [item]="sectionData"></app-component-left-end>
    </ng-container>

    <ng-container *ngIf="sectionData.component_type == 'center card' ">
      <!-- <div *ngFor="let section of sectionData.component_data"> -->
        <app-component-center-end [item]="sectionData"></app-component-center-end>
      <!-- </div> -->
    </ng-container>

    <ng-container *ngIf="sectionData.component_type == 'right_card' ">
      <app-component-right-end></app-component-right-end>
    </ng-container>

    <ng-container *ngIf="sectionData.component_type == 'info_center'">
      <div *ngFor="let section of sectionData.component_data">
        <app-info-card-center [item]="section" ></app-info-card-center>
      </div>
    </ng-container>

    <ng-container *ngIf="sectionData.component_type == 'slider_square'">
      <!-- <div *ngFor="let section of sectionData.component_data"> -->
        <app-card-slider-square [item]="sectionData" ></app-card-slider-square>
      <!-- </div> -->
    </ng-container>

    <ng-container *ngIf="sectionData.component_type == 'contact' ">
      <app-contact-us></app-contact-us>
    </ng-container>

  </div>
</div>
