<!-- <div *ngFor="let core of contentData;"> -->
<div *ngFor="let sectionData of contentData">

  <ng-container *ngIf="sectionData.component_type == 'slider'">
    <app-full-slider [item]="sectionData"></app-full-slider>
  </ng-container>

  <ng-container *ngIf="sectionData.component_type == 'info_center'">
    <div *ngFor="let section of sectionData.component_data">
      <app-info-card-center [item]="section"></app-info-card-center>
    </div>
  </ng-container>

  <ng-container *ngIf="sectionData.component_type == 'center_card' ">
    <!-- <div *ngFor="let section of sectionData.component_data"> -->
    <app-component-center-end [item]="sectionData"></app-component-center-end>
    <!-- </div> -->
  </ng-container>

  <ng-container *ngIf="sectionData.component_type == 'slider_square'">
    <!-- <div *ngFor="let section of sectionData.component_data"> -->
    <app-card-slider-square [item]="sectionData"></app-card-slider-square>
    <!-- </div> -->
  </ng-container>

  <ng-container *ngIf="sectionData.component_type == 'left_card' ">
    <app-component-left-end [item]="sectionData"></app-component-left-end>
  </ng-container>

  <ng-container *ngIf="sectionData.component_type == 'left_to_right' ">
    <app-left-to-right [item]="sectionData"></app-left-to-right>
  </ng-container>
  <ng-container *ngIf="sectionData.component_type == 'right_to_left' ">
    <app-right-to-left [item]="sectionData"></app-right-to-left>
  </ng-container>

  <ng-container *ngIf="sectionData.component_type == 'slider_circle'">
    <app-card-slider-circle [item]="sectionData"></app-card-slider-circle>
  </ng-container>

  <ng-container *ngIf="sectionData.component_type == 'square_card_hover'">
    <app-square-card-hover [item]="sectionData"></app-square-card-hover>
  </ng-container>

  <ng-container *ngIf="sectionData.component_type == 'team_member'">
    <app-team-member-card [item]="sectionData"></app-team-member-card>
  </ng-container>
  <ng-container *ngIf="sectionData.component_type == 'faq'">
    <app-faq [item]="sectionData"></app-faq>
  </ng-container>

  <ng-container *ngIf="sectionData.component_type == 'contact' ">
    <app-contact-us [item]="sectionData"></app-contact-us>
  </ng-container>

  <ng-container *ngIf="sectionData.component_type == 'progress_number'">
    <app-progress-number [item]="sectionData"></app-progress-number>
  </ng-container>
  <ng-container *ngIf="sectionData.component_type == 'chart'">
    <app-chart></app-chart>
  </ng-container>
  <ng-container *ngIf="sectionData.component_type == 'collapse'">
    <app-collapse [item]="sectionData"></app-collapse>
  </ng-container>
  <ng-container *ngIf="sectionData.component_type == 'product_enquiry'">
    <app-product-enquiry [item]="sectionData"></app-product-enquiry>
  </ng-container>

  <ng-container *ngIf="sectionData.component_type == 'normal-card'">
    <div class="normal">
      <app-normal-card [item]="sectionData"></app-normal-card>
    </div>
  </ng-container>

  <ng-container *ngIf="sectionData.component_type == 'media' ">
    <app-media [item]="sectionData"></app-media>
  </ng-container>

  <ng-container *ngIf="sectionData.component_type == 'bgimage-content' ">
    <app-bgimage-content [item]="sectionData"></app-bgimage-content>
  </ng-container>
  <ng-container *ngIf="sectionData.component_type == 'position' ">
    <app-position [item]="sectionData"></app-position>
  </ng-container>

  <ng-container *ngIf="sectionData.component_type == 'fileupload' ">
    <app-fileupload [item]="sectionData"></app-fileupload>
  </ng-container>

  <ng-container *ngIf="sectionData.component_type == 'tender' ">
    <app-tender [item]="sectionData"></app-tender>
  </ng-container>
  <ng-container *ngIf="sectionData.component_type == 'our_partner' ">
    <app-our-partner [item]="sectionData"></app-our-partner>
  </ng-container>
  <ng-container *ngIf="sectionData.component_type == 'latest_news' ">
    <app-latest-news [item]="sectionData"></app-latest-news>
  </ng-container>
  <ng-container *ngIf="sectionData.component_type == 'testimonial' ">
    <app-testimonial [item]="sectionData"></app-testimonial>
  </ng-container>
  <ng-container *ngIf="sectionData.component_type == 'partnership' ">
    <app-partnership [item]="sectionData"></app-partnership>
  </ng-container>



</div>
<!-- </div> -->